{% extends 'user_base.html' %}
{% block content %}
<!-- breadcrumb-section start -->
<nav class="breadcrumb-section theme1 bg-lighten2 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title pb-4 text-dark text-capitalize">About Us</h2>
        </div>
      </div>
      <div class="col-12">
        <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-11 mx-auto mb-30">
        <div class="about-content text-center">
          <div>
            <p class="mb-30">
              We, at SDS Gems, deal in Certified colorstones, diamonds and jewellery. SDS Gems takes forward the age-old
              tradition of giving the client the best value, service and experience for their time and money. It’s our
              personal recommendation that one must buy the best stone he/she can afford, because a real, well-cared
              stone lasts generations and beyond.

              There is a huge construct of differentiation between the “real” and what “seems real enough”, and to
              assure our customers that they are buying a fair product in terms of authenticity, price and quality, we,
              at SDS Gems ensure that our customers get exactly what they need, deserve, invest in, and is well-aware
              about.

              At SDS Gems, we make it a point to find a gemstone that is your perfect match, and to prove that we stand
              strong on our commitments, each of our gemstones go through strict certification of GII, GIA and IGI.

              When it comes to buying online, we go a step further and set the stones into a piece of jewellery for you,
              and if you’re looking for something specific for personal use, or are making jewellery to sell, gift, or
              resell it as a retail purchase, or placing a bulk order—you will be assured that we have an exceptional
              online collection of gems and stones. If in the rarest event you do not find your desired gem, SDS Gems
              will be pleased to help you in your search, and would personally try and source it to you upon request.

            </p>
            <h2 class="title mb-30">
              Why us?
            </h2>
            <p class="mb-30">Our customers mean everything to us, customer satisfaction is our main motto. To provide
              them with the best customer service, we are constantly developing, creating, and designing the most
              beautiful custom made products, striving for the most phenomenal after-sales service and we are committed
              in delivering the best overall experience in the industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product tab end -->



<!-- footer strat -->

<!-- footer end -->
<!-- search-box and overlay start -->
<div class="overlay">
  <div class="scale"></div>
  <form class="search-box" action="#">
    <input type="text" name="search" placeholder="Search products..." />
    <button id="close" type="submit">
      <i class="ion-ios-search-strong"></i>
    </button>
  </form>
  <button class="close"><i class="ion-android-close"></i></button>
</div>


{% endblock content %}