{% extends 'user_base.html' %}
{% block content %}

<body>


  <!-- offcanvas-overlay start -->
  <!-- breadcrumb-section end -->
  <!-- product tab start -->
  <section class="blog-section pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
          <div class="blog-posts">
            <div class="single-blog-post blog-grid-post">
              <div class="blog-post-media">
                <div class="blog-image single-blog">
                  <a href="#"><img class="object-fit-none" src="/media/{{blog.image}}" alt="blog-thumb-naile" /></a>
                </div>
              </div>
              <div class="blog-post-content-inner">
                <h4 class="blog-title">{{blog.title}}</h4>
                <ul class="blog-page-meta">
                  <li>
                    <a href="#"><i class="ion-person"></i> Admin</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-calendar"></i> {{blog.date}}</a>
                  </li>
                </ul>
              </div>

              <div class="single-post-content">
                {{blog.subject | safe}}
              </div>
            </div>
            <!-- single blog post -->
          </div>
          <div class="blog-single-tags-share d-sm-flex justify-content-between">
            <div class="blog-single-tags d-flex">
              <span class="title">Tags: </span>
              <ul class="tag-list">
                {% for tag in blog.tags.all %}
                {% if forloop.counter > 1%}
                <li><a href="{% url 'blogByTags' tag_name=tag %}">,{{tag}}</a></li>
                {% else %}
                <li><a href="{% url 'blogByTags' tag_name=tag %}">{{tag}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="blog-single-share d-flex">
              <span class="title">Share:</span>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i
                      class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri}}&text={{blog.title}}"
                    target="_blank"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                  <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank"><i
                      class="ion-social-whatsapp"></i></a>
                </li>
              </ul>
            </div>
          </div>
          {% if related_blogs %}
          <div class="blog-related-post">
            <div class="row">
              <div class="col-md-12 text-center">
                <!-- Section Title -->
                <div class="section-title underline-shape">
                  <h2>Related Blogs</h2>
                </div>
                <!-- Section Title -->
              </div>
            </div>
            <div class="row">
              {% for blog in related_blogs %}
              <div class="col-md-4 mb-4 mb-md-0">
                <div class="blog-post-media">
                  <div class="blog-image single-blog">
                    <a href="{% url 'singleBlog' blog_id=blog.id %}"><img src="/media/{{blog.image}}"
                        alt="blog-thumb-naile" /></a>
                  </div>
                </div>
                <div class="blog-post-content">
                  <!-- <a class="blog-link theme-color d-inline-block mb-10 text-uppercase"
                    href="https://themeforest.net/user/hastech">Fashion</a> -->
                  <p>Posted on {{blog.date}}</p><br>
                  <h3 class="title mb-15">
                    <a href="{% url 'singleBlog' blog_id=blog.id %}">{{blog.title}}</a>
                  </h3>
                  <p class="sub-title">
                    {{blog.subject | safe | truncatewords:10}}<br>

                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- product tab end -->
  <!-- footer strat -->
  <!-- footer end -->
  <!-- search-box and overlay start -->
  <div class="overlay">
    <div class="scale"></div>
    <form class="search-box" action="#">
      <input type="text" name="search" placeholder="Search products..." />
      <button id="close" type="submit">
        <i class="ion-ios-search-strong"></i>
      </button>
    </form>
    <button class="close"><i class="ion-android-close"></i></button>
  </div>
  <!-- search-box and overlay end -->


  <!--*********************** 
        all js files
     ***********************-->

  <!--****************************************************** 
        jquery,modernizr ,poppe,bootstrap,plugins and main js
     ******************************************************-->

  <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/plugins/jquery-ui.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/plugins/plugins.js"></script>
  <script src="assets/js/plugins/ajax-contact.js"></script>
  <!-- <script src="assets/js/plugins/aos.js"></script> -->
  <script src="assets/js/main.js"></script>

  <!-- Use the minified version files listed below for better performance and remove the files listed above -->

  <!--*************************** 
          Minified  js 
     ***************************-->

  <!--*********************************** 
         vendor,plugins and main js
      ***********************************-->

  <!-- <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    <script src="assets/js/main.js"></script> -->


</body>
{% endblock content %}