{% extends 'user_base.html' %}
{% block content %}

<section class="contact-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-30">
        <!--  contact page side content  -->
        <div class="contact-page-side-content">
          <h3 class="contact-page-title">Contact Us</h3>
          <p class="contact-page-message mb-30">
            Claritas est etiam processus dynamicus, qui sequitur mutationem
            consuetudium lectorum. Mirum est notare quam littera gothica,
            quam
            nunc putamus parum claram anteposuerit litterarum formas human.
          </p>
          <!--  single contact block  -->

          <div class="single-contact-block">
            <h4><i class="fa fa-fax"></i> Address</h4>
            <p>123 Main Street, Anytown, CA 12345 – USA</p>
          </div>

          <!--  End of single contact block -->

          <!--  single contact block -->

          <div class="single-contact-block">
            <h4><i class="fa fa-phone"></i> Phone</h4>
            <p>
              <a href="tel:123456789">Mobile: (08) 123 456 789</a>
            </p>
            <p><a href="tel:1009678456">Hotline: 1009 678 456</a></p>
          </div>

          <!-- End of single contact block -->

          <!--  single contact block -->

          <div class="single-contact-block">
            <h4><i class="fas fa-envelope"></i> Email</h4>
            <p>
              <a href="mailto:yourmail@domain.com">yourmail@domain.com</a>
            </p>
            <p>
              <a href="mailto:support@company">support@company</a>
            </p>
          </div>

          <!--=======  End of single contact block  =======-->
        </div>

        <!--=======  End of contact page side content  =======-->
      </div>
      <div class="col-lg-6 col-12 mb-30">
        <!--  contact form content -->
        <div class="contact-form-content">
          <h3 class="contact-page-title">Tell Us Your Message</h3>
          <div class="contact-form">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Your Name <span class="required">*</span></label>
                <input type="text" name="name" id="name" required />
              </div>
              <div class="form-group">
                <label>Your Email <span class="required">*</span></label>
                <input type="email" name="email" id="email" required />
              </div>
              <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" id="subject" required />
              </div>
              <div class="form-group">
                <label>Your Message</label>
                <textarea name="contactMessage" class="pb-10" id="contactMessage" required></textarea>
              </div>
              <div class="form-group mb-0">
                <button type="submit" class="btn btn-dark btn--lg" name="submit">
                  submit
                </button>
              </div>
            </form>
          </div>
          <p class="form-message mt-10"></p>
        </div>
        <!-- End of contact -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}