{% extends 'user_base.html' %}
{% block content %}

<section class="contact-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-30">
        <div class="contact-page-side-content">
          <h3 class="contact-page-title">Contact Us</h3>
          <p class="contact-page-message mb-30">
          <h5 class="mb-15">We Appreciate your Business!</h5>
          It’s important that you to feel like you are doing business with a human, not a company.
          One of us will reach out to you within the next 24-48 hours.
          Looking forward to working with you!
          </p>


          <!--  End of single contact block -->

          <!--  single contact block -->

          <div class="single-contact-block">
            <h4><i class="fa fa-phone fa-flip-horizontal"></i> Phone</h4>
            <p>
              <a href="tel:91809738109">Mobile: +91 809738109
              </a>
            </p>
            <p><a href="tel:919821154185">Mobile: +91 9821154185</a></p>
            <p><a href="tel:919004112685">Mobile: +91 9004112685</a> </p>
          </div>

          <div class="single-contact-block">
            <h4><i class="fas fa-envelope"></i> Email</h4>
            <p>
              <a href="mailto:sdsgems9@gmail.com" target="_blank">sdsgems9@gmail.com</a>
            </p>
          </div>
          <div class="single-contact-block">
            <h4><i class="fa fa-fax"></i> Address</h4>
            <p>EC-2050, 2nd Floor, Bharat Diamond Bourse, Bandra Kurla Complex, Mumbai-400051</p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d300.30737241474446!2d72.86398672777375!3d19.063808876087975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c98db9189667%3A0x91fcd9ba01cfaf31!2sSDS%20GEMS!5e0!3m2!1sen!2sin!4v1642087574864!5m2!1sen!2sin"
              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

          <!--=======  End of single contact block  =======-->
        </div>

        <!--=======  End of contact page side content  =======-->
      </div>
      <div class="col-lg-6 col-12 mb-30">
        <!--  contact form content -->
        <div class="contact-form-content">
          <h3 class="contact-page-title">Tell Us Your Message</h3>
          <div class="contact-form">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Your Name <span class="required">*</span></label>
                <input type="text" name="name" id="name" required />
              </div>
              <div class="form-group">
                <label>Your Email <span class="required">*</span></label>
                <input type="email" name="email" id="email" required />
              </div>
              <div class="form-group">
                <label>Your Mobile<span class="required">*</span></label>
                <input type="tel" name="mobile" id="mobile" required />
              </div>
              <div class="form-group">
                <label>Subject</label>
                <input type=" text" name="subject" id="subject" />
              </div>
              <div class="form-group">
                <label>Your Message</label>
                <textarea name="contactMessage" class="pb-10" id="contactMessage" required></textarea>
              </div>
              <div class="form-group mb-0">
                <button type="submit" class="btn btn-dark btn--lg" name="submit">
                  submit
                </button>
              </div>
            </form>
          </div>
          <p class="form-message mt-10"></p>
        </div>
        <!-- End of contact -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}