{% extends 'user_base.html' %}
{% block content %}

<body>

  <style>
    .bg-img {
      background-color: rgba(60, 55, 50, 0.5);
      /* Tint color */
      background-blend-mode: multiply;
    }
  </style>
  <!-- offcanvas-overlay start -->
  <!-- offcanvas-overlay end -->
  <!-- offcanvas-mobile-menu start -->

  <!-- offcanvas-mobile-menu end -->

  <!-- header start -->

  <!-- header end -->

  <!-- main slider start -->
  <section class="bg-light">
    <div class="main-slider dots-style theme1">
      <div class="slider-item bg-img bg-img1">
        <div class="container">
          <div class="row align-items-center slider-height">
            <div class="col-12">
              <div class="slider-content">
                <h2 class="title animated">
                  <span style="color: white;" class="animated d-block" data-animation-in="fadeInLeft"
                    data-delay-in=".800">Exclusive Gemstones, Just For You!</span>
                  <a href="{% url 'colorStoneFilter' %}" style="color: white; border-color:white" class="btn btn-outline-primary btn--lg animated mt-45
                    mt-sm-25" data-animation-in="fadeInLeft" data-delay-in="1.9">Shop now</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-item end -->
      <div class="slider-item bg-img bg-img2">
        <div class="container">
          <div class="row align-items-center slider-height">
            <div class="col-12">
              <div class="slider-content">

                <h2 class="title">
                  <span style="color: white;" class="animated d-block" data-animation-in="fadeInRight"
                    data-delay-in=".800">Certified Natural Gemstones</span>
                  <a href="{% url 'colorStoneFilter' %}" style="color: white; border-color:white" class="btn btn-outline-primary btn--lg animated mt-45
                    mt-sm-25" data-animation-in="fadeInLeft" data-delay-in="1.9">Shop now</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-item end -->
      <div class="slider-item bg-img bg-img3">
        <div class="container">
          <div class="row align-items-center slider-height">
            <div class="col-12">
              <div class="slider-content">
                <h2 class="title">
                  <span style="color: white;" class="animated d-block" data-animation-in="fadeInRight"
                    data-delay-in=".800">Following the legacy of two generations</span>
                  <a href="{% url 'colorStoneFilter' %}" style="color: white; border-color:white" class="btn btn-outline-primary btn--lg animated mt-45
                    mt-sm-25" data-animation-in="fadeInLeft" data-delay-in="1.9">Shop now</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-item end -->
    </div>
  </section>
  <!-- main slider end -->
  <!-- staic media start -->
  <!-- Summer Jumbotron -->
  <section class="jumbotron-up">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row align-items-center">

          <!-- Left content -->
          <div class="col-xs-12 col-sm-6 mobile-flex">

            <h1 class="title-banner mb-5 mb-sm-6">Liked something online? </h1>
            <p class="subject mb-15">Share your jewellery design and idea of
              customizing it. We will try to replicate the exact design along with some changes.</p>
            <a class="btn-offer" href="/instant_quote" data-slug="See our offer" aria-label="See our offer"
              role="btn-offer" tabindex="0">Instant Quote</a>


          </div>
          <div class="col-xs-12 col-sm-6 pt-7 pt-sm-0">
            <div class="center-block img-responsive">
              <div class="image-zone mt-10">
                <img src="/static/assets/img/mega-menu/jewellery.jpg" sizes="(max-width: 500px) 100vw, 500px">
              </div>
            </div>
          </div>
          <!-- End right image -->

        </div>
      </div>
    </div>
  </section>

  <section class="jumbotron-up">
    <div class="jumbotron jumbotron-fluid" style="background-color: white;">
      <div class="container">
        <div class="row align-items-center">

          <!-- Left content -->
          <div class="col-xs-12 col-sm-6 mobile-flex">

            <h1 class="title-banner mb-5 mb-sm-6">Colour Stones</h1>
            <p class="subject mb-30">Looking for a specific colour stone? Share your requirements, we can surely try to
              arrange and will give you an instant quote.</p>
            <a class="btn-offer" href="/instant_quote" data-slug="See our offer" aria-label="See our offer"
              role="btn-offer" tabindex="0">Instant Quote</a>
          </div>
          <!-- End left content -->

          <!-- Right image -->
          <div class="col-xs-12 col-sm-6 pt-7 pt-sm-0">
            <div class="center-block img-responsive">
              <div class="image-zone">
                <img src="/static/assets/img/modal/colorstone.jpg" alt="My Happy
                      SVG" />
              </div>
            </div>
          </div>
          <!-- End right image -->

        </div>
      </div>
    </div>
  </section>
  <!-- End summer jumbotron -->
  <!-- staic media end -->
  <!-- common banner  start -->
  <section class="jumbotron-up">
    <div class="jumbotron jumbotron-fluid" style="background-color: white;">
      <div class="container">
        <div class="d-flex flex-row flex-wrap-reverse align-items-center">


          <!-- Left content -->
          <!-- End left content -->
          <div class="col-xs-12 col-sm-6 pt-7 pt-sm-0">
            <div class="center-block img-responsive">
              <div class="image-zone">
                <img src="/static/assets/img/modal/fancycolordiamond.jpg" alt="My Happy
                      SVG" />
              </div>
            </div>
          </div>
          <!-- Right image -->
          <div class="col-xs-12 col-sm-6 mobile-flex">

            <h1 class="title-banner mb-5 mb-sm-6">Fancy Colour Diamonds</h1>
            <p class="subject mb-30">Looking for a specific Fancy colour diamond? Share your requirements, with the
              specialized colour diamond knowledge we will guide and give you an instant quote.</p>
            <a class="btn-offer" href="/instant_quote" data-slug="See our offer" aria-label="See our offer"
              role="btn-offer" tabindex="0">Instant Quote</a>
          </div>



          <!-- End right image -->

        </div>
      </div>
    </div>
  </section>

  <section class="jumbotron-up">
    <div class="jumbotron jumbotron-fluid" style="background-color: white;">
      <div class="container">
        <div class="row align-items-center">

          <!-- Left content -->
          <div class="col-xs-12 col-sm-6 mobile-flex">

            <h1 class="title-banner mb-5 mb-sm-6">White Diamonds</h1>
            <p class="subject mb-30">Looking for a White Round Cut or Fancy Shape Diamond? Share your requirements, We
              will
              take care of all the cut,polish & symmetries that directly affect the diamond’s beauty and will give you
              an instant quote.</p>
            <a class="btn-offer" href="/instant_quote" data-slug="See our offer" aria-label="See our offer"
              role="btn-offer" tabindex="0">Instant Quote</a>
          </div>
          <div class="col-xs-12 col-sm-6 pt-7 pt-sm-0">
            <div class="center-block img-responsive">
              <div class="image-zone">
                <img src="/static/assets/img/modal/diamonds.jpg" alt="My Happy
                      SVG" />
              </div>
            </div>
          </div>
          <!-- End right image -->

        </div>
      </div>
    </div>
  </section>

  <!-- product tab repetation start -->
  <section class="bg-white theme1 pb-80 pt-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- section-title start -->
          <div class="section-title text-center">
            <h2 class="title pb-3 mb-3">New Arrivals</h2>
          </div>
          <!-- section-title end -->
          <div class="product-slider-init theme1 slick-nav">
            {% for colorstone in latest_colorstones %}
            <div class="slider-item">
              <div class="card product-card">
                <div class="card-body p-0">
                  <div class="media flex-column">
                    <div class="product-thumbnail position-relative">
                      <span class="badge badge-danger top-right">New</span>
                      <a href="{% url 'showColorStone' product_id=colorstone.id %}">
                        {% if colorstone.media.image1 %}
                        <img class="first-img" src="/media/{{colorstone.media.image1}}" alt="thumbnail" />
                        {% else %}
                        <img class="first-img" src="/static/images/default.png" alt="thumbnail" />
                        {% endif %}
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="product-desc">
                        <h3 class="title">
                          <a href="{% url 'showColorStone' product_id=colorstone.id %}">
                            {{colorstone.gem_type}},
                            {{colorstone.origin}}, {{colorstone.shape}}, {{colorstone.color}}, {{colorstone.Weight}}
                            carat
                          </a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% for diamond in latest_diamonds %}
            <div class="slider-item">
              <div class="card product-card">
                <div class="card-body p-0">
                  <div class="media flex-column">
                    <div class="product-thumbnail position-relative">
                      <span class="badge badge-danger top-right">New</span>
                      <a href="{% url 'showDiamond' product_id=diamond.id %}">
                        {% if diamond.media.image1 %}
                        <img class="first-img" src="/media/{{diamond.media.image1}}" alt="thumbnail" />
                        {% else %}
                        <img class="first-img" src="/static/images/default.png" alt="thumbnail" />
                        {% endif %}
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="product-desc">
                        <h3 class="title">
                          <a href="{% url 'showDiamond' product_id=diamond.id %}">
                            {{diamond.shape}},
                            {{diamond.color_origin1}} {{white_color_grade1}},
                            {{diamond.fluorescence_color}}, {{diamond.polish}},
                            {{diamond.symmetry}}

                          </a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% for jewellery in latest_jewellery %}
            <div class="slider-item">
              <div class="card product-card">
                <div class="card-body p-0">
                  <div class="media flex-column">
                    <div class="product-thumbnail position-relative">
                      <span class="badge badge-danger top-right">New</span>
                      <a href="{% url 'showJewellery' product_id=jewellery.id %}">
                        {% if diamond.media.image1 %}
                        <img class="first-img" src="/media/{{jewellery.media.image1}}" alt="thumbnail" />
                        {% else %}
                        <img class="first-img" src="/static/images/default.png" alt="thumbnail" />
                        {% endif %}
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="product-desc">
                        <h3 class="title">
                          <a href="{% url 'showJewellery' product_id=jewellery.id %}">
                            {{jewellery.jewellery_type}},
                            {{jewellery.center_stone}}, {{jewellery.color_of_center_stone}},
                            {{jewellery.shape}},
                            {{jewellery.metal}}
                          </a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- slider-item end -->
            <!-- New women's Fresh Faced Trendy cream -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product tab repetation end -->

  <!-- blog-section start -->
  <section class="blog-section theme1 pb-65">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="title pb-3 mb-3">from our Latest Blogs</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="blog-init slick-nav">
            {% for blog in latest_blogs %}
            <div class="slider-item">
              <div class="single-blog">
                <a class="blog-thumb mb-20 zoom-in d-block overflow-hidden"
                  href="{% url 'singleBlog' blog_id=blog.id%}">
                  <img src="/media/{{blog.image}}" alt="blog-thumb-naile" />
                </a>
                <p class="sub-title">
                  Posted on {{blog.date}}
                </p>
                <div class="blog-post-content">
                  {% for tag in blog.tags.all %}
                  <a class="blog-link theme-color d-inline-block mb-10
                        text-uppercase" href="{% url 'blogByTags' tag_name=tag.name%}">{{tag}}</a>,
                  {% endfor %}
                  <h3 class="title mb-15 mt-15">
                    <a href="{% url 'singleBlog' blog_id=blog.id%}">{{blog.title}}</a>
                  </h3>
                  <p class="text">
                    {{blog.subject | safe | truncatewords:10}}
                  </p>
                </div>
                <a class="read-more" href="{% url 'singleBlog' blog_id=blog.id%}">Read More</a>
              </div>
            </div>
            {%endfor%}
            <!-- slider-item end -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-section end -->
  <!-- brand slider start -->
  <div class="brand-slider-section theme1 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <h2 class="title pb-3 mb-3">Buy With Confidence</h2>
            <h5 class="text">
              We are suppliers, members & alumni of prominent organizations worldwide.
            </h5>

          </div>
          <div class="brand-init border-top py-35 slick-nav-brand">
            <div class="slider-item" style="padding-top:37px">
              <div class="single-brand">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (1).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item pt-40">
              <div class="single-brand" style="padding-top:47px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (2).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item" style="padding-top:27px">
              <div class="single-brand">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (3).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item">
              <div class="single-brand" style="padding-top:27px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (4).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item">
              <div class="single-brand" style="padding-top:20px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (5).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item">
              <div class="single-brand" style="padding-top:20px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (6).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
            <div class="slider-item">
              <div class="single-brand" style="padding-top:20px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (7).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <div class="slider-item">
              <div class="single-brand" style="padding-top:20px">
                <a>
                  <img src="/static/assets/img/blog-post/Buy-Diamond-With-Confidence (8).png" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <div class="slider-item">
              <div class="single-brand">
                <a>
                  <img src="/static/assets/img/blog-post/9.jpg" alt="brand-thumb-nail" />
                </a>
              </div>
            </div>
            <!-- slider-item end -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- modals start -->
  <!-- first modal -->

  <!-- second modal -->

  <!-- second modal -->

  <!-- modals end -->

  <!-- search-box and overlay start -->
  <div class="overlay">
    <div class="scale"></div>
    <form class="search-box" action="#">
      <input type="text" name="search" placeholder="Search
            products..." id="search" />
      <button id="close" type="submit">
        <i class="ion-ios-search-strong"></i>
      </button>
    </form>
    <button class="close"><i class="ion-android-close"></i></button>
  </div>



</body>
{% endblock content %}