<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h3><b>From: </b>{{mail}}</h3>
        <h5><b>Email: </b>{{email}}</h5>
        <h5><b>Dealer Type:</b> {{dealer_type}}</h5>
        <h5><b>Message: </b></h5>
        <div>
            <p>{{message}}</p>
        </div>
    </body>

</html>