{% extends 'user_base.html' %}
{% block content %}
<div class="my-account pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title text-capitalize mb-30 pb-25">my account</h3>
      </div>
      <!-- My Account Tab Menu Start -->
      <div class="col-lg-3 col-12 mb-30">
        <div class="myaccount-tab-menu nav" role="tablist">


          <a href="#account-info" data-toggle="tab" class="active"><i class="fa fa-user"></i> Account Details</a>

          <a href="/user_logout"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
      <!-- My Account Tab Menu End -->

      <!-- My Account Tab Content Start -->
      <div class="col-lg-9 col-12 mb-30">
        <div class="tab-content" id="myaccountContent">
          <!-- Single Tab Content Start -->

          <!-- Single Tab Content End -->


          <div class="tab-pane fade active show" id="account-info" role="tabpanel">
            <div class="myaccount-content">
              <h3>Account Details</h3>
              {{message}}
              <div class="account-details-form">
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-6 col-12 mb-30">
                      <input id="first-name" name="first-name" placeholder="First Name" type="text"
                        value="{{user.first_name}}" />
                    </div>

                    <div class="col-lg-6 col-12 mb-30">
                      <input id="last-name" name="last-name" placeholder="Last Name" type="text"
                        value="{{user.last_name}}" />
                    </div>


                    <div class="col-12 mb-30">
                      <input id="email" name="email-id" placeholder="Email Address" type="email"
                        value="{{user.email_id}}" disabled />
                    </div>

                    <div class="col-12 mb-30">
                      <h4>Password change</h4>
                    </div>

                    <div class="col-12 mb-30">
                      <input id="current-pwd" name="current-pwd" placeholder="Current Password" type="password" />
                    </div>

                    <div class="col-lg-6 col-12 mb-30">
                      <input id="new-pwd" name="new-pwd" placeholder="New Password" type="password" />
                    </div>

                    <div class="col-lg-6 col-12 mb-30">
                      <input id="confirm-pwd" name="confirm-pwd" placeholder="Confirm Password" type="password" />
                    </div>
                    <div class="col-12">
                      <button class="btn btn-dark btn--md">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Single Tab Content End -->
        </div>
      </div>
      <!-- My Account Tab Content End -->
    </div>
  </div>
</div>
{% endblock content %}