{% extends 'user_base.html' %}
{% block content %}
<div class="my-account pt-80 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="title text-capitalize mb-30 pb-25">my account</h3>
        </div>
        <!-- My Account Tab Menu Start -->
        <div class="col-lg-3 col-12 mb-30">
          <div class="myaccount-tab-menu nav" role="tablist">
            <a href="#dashboad" data-toggle="tab"
              ><i class="fas fa-tachometer-alt"></i> Dashboard</a
            >
  
            <a href="#address-edit" data-toggle="tab"
              ><i class="fa fa-map-marker"></i> address</a
            >
  
            <a href="#account-info" data-toggle="tab" class="active"
              ><i class="fa fa-user"></i> Account Details</a
            >
  
            <a href="login.html"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
        <!-- My Account Tab Menu End -->
  
        <!-- My Account Tab Content Start -->
        <div class="col-lg-9 col-12 mb-30">
          <div class="tab-content" id="myaccountContent">
            <!-- Single Tab Content Start -->
            <div class="tab-pane fade" id="dashboad" role="tabpanel">
              <div class="myaccount-content">
                <h3>Dashboard</h3>
  
                <div class="welcome mb-20">
                  <p>
                    Hello, <strong>Alex Tuntuni</strong> (If Not
                    <strong>Tuntuni !</strong
                    ><a href="login-register.html" class="logout"> Logout</a>)
                  </p>
                </div>
  
                <p class="mb-0">
                  From your account dashboard. you can easily check &amp; view
                  your recent orders, manage your shipping and billing addresses
                  and edit your password and account details.
                </p>
              </div>
            </div>
            <!-- Single Tab Content End -->
  
  
            <div
              class="tab-pane fade active show"
              id="account-info"
              role="tabpanel"
            >
              <div class="myaccount-content">
                <h3>Account Details</h3>
  
                <div class="account-details-form">
                  <form action="#">
                    <div class="row">
                      <div class="col-lg-6 col-12 mb-30">
                        <input
                          id="first-name"
                          placeholder="First Name"
                          type="text"
                        />
                      </div>
  
                      <div class="col-lg-6 col-12 mb-30">
                        <input
                          id="last-name"
                          placeholder="Last Name"
                          type="text"
                        />
                      </div>
  
                      <div class="col-12 mb-30">
                        <input
                          id="display-name"
                          placeholder="Display Name"
                          type="text"
                        />
                      </div>
  
                      <div class="col-12 mb-30">
                        <input
                          id="email"
                          placeholder="Email Address"
                          type="email"
                        />
                      </div>
  
                      <div class="col-12 mb-30">
                        <h4>Password change</h4>
                      </div>
  
                      <div class="col-12 mb-30">
                        <input
                          id="current-pwd"
                          placeholder="Current Password"
                          type="password"
                        />
                      </div>
  
                      <div class="col-lg-6 col-12 mb-30">
                        <input
                          id="new-pwd"
                          placeholder="New Password"
                          type="password"
                        />
                      </div>
  
                      <div class="col-lg-6 col-12 mb-30">
                        <input
                          id="confirm-pwd"
                          placeholder="Confirm Password"
                          type="password"
                        />
                      </div>
                      <div class="col-12">
                        <button class="btn btn-dark btn--md">Save Changes</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Single Tab Content End -->
          </div>
        </div>
        <!-- My Account Tab Content End -->
      </div>
    </div>
  </div>
  {% endblock content %}