{% extends 'user_base.html' %}
{% block content %}
<nav class="breadcrumb-section theme1 bg-lighten2 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title pb-4 text-dark text-capitalize">Privacy Policy</h2>
        </div>
      </div>
      <div class="col-12">
        <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-11 mx-auto mb-30">
        <div class="about-content">
          <div>
            <p class="mb-30">
              SDS Gems is committed to the compliance of applicable Privacy Laws in the country . Protecting the privacy
              and security of your personal data is of prime importance to us, therefore, we conduct our business by
              abiding by the laws applicable on data privacy and data security in the country.
            </p>
            <p class="mb-30">
              This Privacy Policy is intended to inform you about the personal data that is collected from you, how your
              personal data may be used and disclosed, how you can control the use of your personal data, and how your
              personal data is protected. We do not sell trade your personally identifiable information; however, we may
              share the same with third parties who assist us in conducting our business, operating our website, or
              servicing you, so long as those parties agree to keep this information confidential.
            </p>
            <h2 class="mb-30">
              What Information is collected about you?
            </h2>
            <h4 class="mb-15">Information you provide directly:</h4>
            <p class="mb-15">When you use certain functions provided by the website, such as when you register for
              certain services, access, features or services, we may ask you to provide certain personal data such as
              name, contact number, postal address, email address etc.</p>

            <h4 class="mb-15">Information that we collect from other sources:</h4>
            <p class="mb-15">We may receive information about you from publicly and commercially available sources (as
              permitted by law), which we may combine with other information we receive from or about you. We also may
              receive information about you from third-party social networking services when you choose to connect with
              those services.</p>

            <h2 class="mb-30 mt-30">How we use the information we collect?</h2>
            <p class="mb-15"><strong>General:</strong> SDS Gems may use the information collected from you to register
              you or your device for a Service, to provide a service or feature you request, to provide customized
              content and make recommendations based on your past activities on our Website.</p>
            <p class="mb-15"><strong>Advertisements</strong>: SDS Gems may use your information to provide you with
              product and service updates, newsletters and other communications about existing and/or new products and
              services by post, email, telephone, in-device messaging and/or text message (SMS), if you have provided
              your prior consent or we are otherwise permitted to do so under applicable law.</p>
            <p class="mb-15"><strong>Statistics and Research</strong>: SDS Gems may use your information to create user
              group profiles or segment data and to otherwise create anonymous, aggregated statistics about the use of
              our products, services and loyalty programs, which we may share with third parties and/or make available
              to the public.</p>
            <p class="mb-15">SDS Gems may use your information to improve and enhance existing products, services and
              Applications and develop new offerings, recommendations, advertisements Product/Services Improvement: and
              other communications and learn more about customers’ preferences in general.</p>
            <p class="mb-15">Publish your reviews, comments and content: Where you have uploaded product reviews,
              comments or content to our websites or Application and made them publicly visible, SDS Gems may link to,
              publish or publicize these materials elsewhere including in our own advertisements.</p>

            <h2 class="mb-30 mt-30">To whom do we disclose your Personal Data?</h2>
            <p class="mb-15">a. We may employ third party entities and individuals to facilitate our Services (e.g.
              maintenance, analysis, audit, marketing, and development). These third parties have limited access to your
              information only to perform these tasks on our behalf and are obligated to SDS Gems, not to disclose or
              use it for other purposes. All of our approved third-party providers go through an extensive data
              protection compliance vetting process before being selected as a third party provider and are bound by all
              relevant data privacy laws, terms of confidentiality, and this Privacy Policy.</p>
            <p class="mb-15">b. There may be instances when we disclose your information to other parties to comply with
              the law or respond to compulsory legal process or to verify or enforce compliance with the policies
              governing our Services or to protect the rights, property, or safety of G, or any of our respective
              affiliates, business partners, or customers.</p>
            <h2 class="mb-15">Your Choices:</h2>
            <p class="mb-15">We offer a variety of choices about how we use your information. You can make choices about
              whether to receive promotional communications from us by following the unsubscribe instructions included
              in the communication. In addition, you can also generally make choices in your settings, or by visiting
              relevant links.</p>
            <h2 class="mb-15">Security:</h2>
            <p class="mb-15">The security of your personal data is of great importance to us. We have put in place
              reasonable physical and technical measures to safeguard the information we collect in connection with the
              Services. However, please note that although we take reasonable steps to protect your information, no
              website, Internet transmission, computer system or wireless connection is completely secure.</p>
            <p class="mb-15">If you have additional questions or require more information about our Privacy Policy, do
              not hesitate to contact us through email at sdsgems9@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product tab end -->



<!-- footer strat -->

<!-- footer end -->
<!-- search-box and overlay start -->
<div class="overlay">
  <div class="scale"></div>
  <form class="search-box" action="#">
    <input type="text" name="search" placeholder="Search products..." />
    <button id="close" type="submit">
      <i class="ion-ios-search-strong"></i>
    </button>
  </form>
  <button class="close"><i class="ion-android-close"></i></button>
</div>
{% endblock content %}