{% extends 'user_base.html' %}
{% block content %}
<nav class="breadcrumb-section theme1 bg-lighten2 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title pb-4 text-dark text-capitalize">Return And Exchange</h2>
        </div>
      </div>
      <div class="col-12">
        <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Return And Exchange</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-11 mx-auto mb-30">
        <div class="about-content">
          <div>
            <h2 class="mb-30">Return Policy</h2>
            <p class="mb-30">
              Due to the high risk nature of the business, it’s not in the best interests of SDS Gems to accept returns.
            </p>
            <p class="mb-30">
              But with the promise of quality and a selection that pleases the eye, will you ever want to return? We can provide you with all possible assistance before you’re purchasing a product with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product tab end -->



<!-- footer strat -->

<!-- footer end -->
<!-- search-box and overlay start -->
<div class="overlay">
  <div class="scale"></div>
  <form class="search-box" action="#">
    <input type="text" name="search" placeholder="Search products..." />
    <button id="close" type="submit">
      <i class="ion-ios-search-strong"></i>
    </button>
  </form>
  <button class="close"><i class="ion-android-close"></i></button>
</div>
{% endblock content %}