{% extends 'user_base.html' %}
{% block content %}
<nav class="breadcrumb-section theme1 bg-lighten2 pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title pb-4 text-dark text-capitalize">Terms And Conditions</h2>
        </div>
      </div>
      <div class="col-12">
        <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Terms And Conditions</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-11 mx-auto mb-30">
        <div class="about-content">
          <div>
            <p class="mb-30">
              Please read the terms and conditions governing the offer and sale of this Product before ordering the Product.
            </p>
            <p class="mb-30">
              Payment for a particular product cannot be made on the website.
            </p>
            <p class="mb-30">
              If you wish to purchase a product, you will be redirected to a whatsapp business account, you can discuss about the payment there.
            </p>
            <p class="mb-30">
              We charge a flat fee of 150USD on all items irrespective of their total cart value.
            </p>
            <p class="mb-30">
              Cash on Delivery shall not be available.
            </p>
            <p class="mb-30">This Product shall be accompanied with certificates representing the identification of the Product from GII, IGI, GIA, Gubelin, SSEF, AGT, AGL etc.</p>
            <p class="mb-30">The Seller does not have any buy back policy and does not undertake to repurchase the Product at any time.</p>
            <p class="mb-30">This Product does not come with any warranty or guarantee in relation to the effect of the use of the Product in any form. The Seller shall not be liable if the Product does not have the desired or expected effect.</p>
            <p class="mb-30">The actual Product may vary slightly from the photograph in colour, shine or size on account of the method of taking the photograph or the lighting and other conditions existing while taking the photograph.</p>
            <p clss="mb-30">The above description of the Product is only indicative of the effect the Product is considered to have on the user of the Product over a period of time.</p>
            <p class="mb-30">The Seller is not advising the use of the Product for any particular purpose. The buyer shall be required to obtain advice from its own advisers on the use of the Product and /or its effect on the user.</p>
            <p class="mb-30">If the size ordered is incorrect, the Product may be returned to the Seller within 2 days of the delivery of the Product for an adjustment of the size up to one size increase or decrease at no additional cost.</p>
            <p class="mb-30">Feathers, cavity, Natts, chip, natural, indented natural, knots, extra facets are a part of natural stones.</p>
            <p class="mb-30">The weight of the stones might vary ± 0.02 due to the weighing scale.</p> 
            <p class="mb-30">SDS Gems has the right at any given point of time to cancel the order. </p>
            <p class="mb-30">All goods will be sold subject to availability.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product tab end -->



<!-- footer strat -->

<!-- footer end -->
<!-- search-box and overlay start -->
<div class="overlay">
  <div class="scale"></div>
  <form class="search-box" action="#">
    <input type="text" name="search" placeholder="Search products..." />
    <button id="close" type="submit">
      <i class="ion-ios-search-strong"></i>
    </button>
  </form>
  <button class="close"><i class="ion-android-close"></i></button>
</div>
{% endblock content %}