{% extends 'user_base.html' %}
{% block content %}
<!-- login area start -->
<div class="login-register-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <h4>Reset your password!</h4>
                    </div>
                    <center>
                        <span>{% if message %}{{message}}{% endif %}</span>
                        <span id="message-error"></span>
                    </center>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="password" id="new-pwd" name="password"
                                            placeholder="New Password" />
                                        <input type="password" id="confirm-pwd" name="confirm-password"
                                            placeholder="Confirm Password" />
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                            </div>
                                            <button type="submit" class="btn btn-dark btn--md">
                                                <span>Reset Password</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var firstCheck = false;
    var secondCheck = false;
    $('#confirm-pwd').keyup(function () {
        var newpwd = $('#new-pwd').val();
        var confirmpwd = $('#confirm-pwd').val();
        if (newpwd != confirmpwd) {
            $('#message-error').html('Passwords do not match').css('color', 'red');
            $('#submit-button').attr('disabled', true);
            secondCheck = false;
        } else {
            $('#message-error').html('');
            secondCheck = true;
            if (firstCheck && secondCheck) {
                $('#submit-button').attr('disabled', false);
            }
        }
    });
    $('#new-pwd').keyup(function () {
        var newpwd = $('#new-pwd').val();
        var confirmpwd = $('#confirm-pwd').val();
        if (newpwd.length < 8) {
            $('#message-error').html('Password must be atleast 8 characters long').css('color', 'red');
            firstCheck = false;
        }
        else {
            $('#message-error').html('');
            firstCheck = true;
            if (firstCheck && secondCheck) {
                $('#submit-button').attr('disabled', false);
            }
        }
        if (newpwd != confirmpwd) {
            $('#message-error').html('Passwords do not match').css('color', 'red');
            secondCheck = false;
        }
        else {
            $('#message-error').html('');
            secondCheck = true;
            if (firstCheck && secondCheck) {
                $('#submit-button').attr('disabled', false);
            }
        }
    })
</script>
<!-- login area end -->
{% endblock content %}