{% extends 'user_base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<body>
  <div class="login-register-area pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 ml-auto mr-auto shadow p-3 mb-5 bg-white rounded">
          <div class="login-register-wrapper">
            <div class="login-register-tab-list nav">
              <h3>Register</h3>
            </div>
            <div class="tab-content">
              <div id="lg1" class="tab-pane active">
                <div class="login-form-container">
                  <div class="login-register-form">
                    <form method="post">
                      {% csrf_token %}
                      {{ form | crispy }}
                      <button type="submit" class="btn btn-dark btn--md">Sign Up</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}