{% extends 'user_base.html' %}
{% block content %}
{% load price_tags %}

<div class="product-tab bg-white pt-80 pb-80">
    <div class="container">
        <div class="grid-nav-wraper bg-lighten2 mb-30">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <nav class="shop-grid-nav">
                        <ul class="nav nav-pills align-items-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">
                                    <i class="fa fa-th"></i>
                                </a>
                            </li>

                            <li>
                                <span class="total-products text-capitalize">There are {{total_count}}
                                    products.</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-30 order-lg-first">
                <aside class="left-sidebar theme1">
                    <!-- search-filter start -->
                    <div class="search-filter">
                        <div class="sidbar-widget pt-0">
                            <h4 class="title">Filter By</h4>
                        </div>
                    </div>
                    <form method="get">
                        {% csrf_token %}
                        <ul id="offcanvas-menu2" class="blog-ctry-menu">
                            <li>
                                <a href="javascript:void(0)">Jewellery Type</a>
                                <ul class="category-sub-menu">
                                    {% for type in jewellerytype %}
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="types[]" class="submenu-toggle"
                                            value="{{type.jewel}}" id="type-{{type.jewel}}">
                                        <label for="type-{{type.jewel}}">{{type}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Center Stone</a>
                                <ul class="category-sub-menu">
                                    {% for centerstone in jewellerycenterstone %}
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="centerstones[]" class="submenu-toggle"
                                            value="{{centerstone.stone}}" id="centerstone-{{centerstone.stone}}">
                                        <label for="centerstone-{{centerstone.stone}}">{{centerstone}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Metal</a>
                                <ul class="category-sub-menu">
                                    {% for metal in jewellerymetal %}
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="metals[]" class="submenu-toggle"
                                            value="{{metal.metal}}" id="metal-{{metal.metal}}">
                                        <label for="metal-{{metal.metal}}">{{metal}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Shape</a>
                                <ul class="category-sub-menu">
                                    {% for shape in jewelleryshape %}
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="shapes[]" class="submenu-toggle"
                                            value="{{shape.shape}}" id="shape-{{shape.shape}}">
                                        <label for="shape-{{shape.shape}}">{{shape}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Colour of Center Stone</a>
                                <ul class="category-sub-menu">
                                    {% for color in jewellerycolorofcenterstone %}
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="colorofcenterstones[]" class="submenu-toggle"
                                            value="{{color.color}}" id="color-{{color.color}}">
                                        <label for="color-{{color.color}}">{{color}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Price</a>
                                <ul class="category-sub-menu">
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="LowToHigh[]" onclick="uncheckHighToLow()"
                                            class="submenu-toggle" value="LowToHigh" id="LowToHigh">
                                        <label for="LowToHigh">Low To High</label>
                                    </div>
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="HighToLow[]" onclick="uncheckLowToHigh()"
                                            class="submenu-toggle" value="HighToLow" id="HighToLow">
                                        <label for="HighToLow">High To Low</label>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Weight</a>
                                <ul class="category-sub-menu">
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="LowToHighWeight[]"
                                            onclick="uncheckHighToLowWeight()" class="submenu-toggle"
                                            value="LowToHighWeight" id="LowToHighWeight">
                                        <label for="LowToHighWeight">Low To High</label>
                                    </div>
                                    <div class="widget-check-box color-grey">
                                        <input type="checkbox" name="HighToLowWeight[]"
                                            onclick="uncheckLowToHighWeight()" class="submenu-toggle"
                                            value="HighToLowWeight" id="HighToLowWeight">
                                        <label for="HighToLowWeight">High To Low</label>
                                    </div>
                                </ul>
                            </li>

                            <button type="submit" class="btn btn-primary">Apply</button>
                    </form>


                    <!-- search-filter end -->

                    <!--second banner start-->

                    <!--second banner end-->
                </aside>
            </div>
            <div class="col-lg-9 mb-30">

                <!-- product-tab-nav end -->
                <div class="tab-content" id="pills-tabContent">
                    <!-- first tab-pane -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="row grid-view theme1">
                            {% for object in all_jewobjects %}
                            <div class="col-6 col-lg-4 col-xl-3 mb-30">
                                <div class="card product-card">
                                    <div class="card-body">

                                        <a href="{% url 'showJewellery' product_id=object.id %}">
                                            <div class="product-thumbnail position-relative">
                                                <span
                                                    class="badge badge-danger top-right">{{object.jewellery_type}}</span>
                                                {% if object.media.image1 %}
                                                <img class="first-img" src="/media/{{object.media.image1}}"
                                                    alt="{{object.shape}}" />
                                                {% else %}
                                                <img class="first-img" src="/static/images/default.png"
                                                    alt="{{object.shape}}" />
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="product-desc py-0 px-0">
                                            <h3 class="title">
                                                <a href="{% url 'showJewellery' product_id=object.id %}">{{object.media.jewellery_info}}
                                                </a>
                                            </h3>
                                            {% if user %}
                                            <div class="d-flex align-items-center justify-content-between">
                                                {% if user.Businesstype == "Customer" %}
                                                <span class="product-price" id="tag_price">
                                                    $ {% customer_price object.tag_price %}</span>
                                                {% elif user.Businesstype == "Broker"%}
                                                <span class="product-price" id="tag_price">
                                                    $ {% broker_price object.tag_price %}</span>
                                                {% else %}
                                                <span class="product-price" id="tag_price">
                                                    $ {% wholesaler_price object.tag_price %}</span>
                                                {% endif %}
                                            </div>
                                            {% else %}

                                            You must <strong>Login</strong> to view
                                            price
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav class="pagination-section mt-30">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not all_jewobjects.has_previous %} disabled {% endif %}">
                            <a class="page-link" {% if all_jewobjects.has_previous %}
                                href="{% if request.path == request.get_full_path %}{{ request.get_full_path }}?page={{ all_jewobjects.previous_page_number}}{%else%}{{ request.get_full_path }}&page={{ all_jewobjects.previous_page_number}}{% endif %}"
                                {% endif %}><i class="ion-chevron-left"></i></a>
                        </li>
                        {% for i in all_jewobjects.paginator.page_range %}
                        {% if all_jewobjects.number == i %}
                        <li class="page-item active">
                            {% if request.path == request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}?page={{i}}">{{i}}</a>
                            {% else %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{i}}">{{i}}</a>
                            {%endif%}
                        </li>
                        {% elif i > all_jewobjects.number|add:'-2' and i < all_jewobjects.number|add:'2' %} <li
                            class="page-item">
                            {% if request.path == request.get_full_path %}
                            <a class="page-link" href="{{ request.get_full_path }}?page={{i}}">{{i}}</a>
                            {% else %}
                            <a class="page-link" href="{{ request.get_full_path }}&page={{i}}">{{i}}</a>
                            {%endif%}
                            </li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not all_jewobjects.has_next %} disabled {% endif %}">
                                <a class="page-link" {% if all_jewobjects.has_next %}
                                    href="{% if request.path == request.get_full_path %}{{ request.get_full_path }}?page={{ all_jewobjects.next_page_number}}{%else%}{{ request.get_full_path }}&page={{ all_jewobjects.next_page_number}}{% endif %} "
                                    {%endif %}><i class="ion-chevron-right"></i></a>
                            </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- product-area end -->
<script>

    function uncheckLowToHigh() {
        document.getElementById("LowToHigh").checked = false;
    }

    function uncheckHighToLow() {
        document.getElementById("HighToLow").checked = false;
    }

    var high_to_low = "{{HighToLow}}";
    if (high_to_low) {
        document.getElementById("HighToLow").checked = true;
    }

    var low_to_high = "{{LowToHigh}}";
    if (low_to_high) {
        document.getElementById("LowToHigh").checked = true;
    }

    var high_to_low_weight = "{{HighToLowWeight}}";
    if (high_to_low_weight) {
        document.getElementById("HighToLowWeight").checked = true;
    }

    var low_to_high_weight = "{{LowToHighWeight}}";
    if (low_to_high_weight) {
        document.getElementById("LowToHighWeight").checked = true;
    }

    function uncheckHighToLowWeight() {
        document.getElementById("HighToLowWeight").checked = false;
    }

    function uncheckLowToHighWeight() {
        document.getElementById("LowToHighWeight").checked = false;
    }



    var shapes = "{{shapes | safe}}";
    var types = "{{types | safe}}";
    var metals = "{{metals | safe}}";
    var colors = "{{colorofcenterstones | safe}}";
    var centerstones = "{{centerstones | safe}}";

    shapes = shapes.replace(/'/g, '"');
    shapes = JSON.parse(shapes);
    types = types.replace(/'/g, '"');
    types = JSON.parse(types);
    metals = metals.replace(/'/g, '"');
    metals = JSON.parse(metals);
    colors = colors.replace(/'/g, '"');
    colors = JSON.parse(colors);
    centerstones = centerstones.replace(/'/g, '"');
    centerstones = JSON.parse(centerstones);

    for (var i = 0; i < shapes.length; i++) {
        document.getElementById(`shape-${shapes[i]}`).checked = true;
    }
    for (var i = 0; i < types.length; i++) {
        document.getElementById(`type-${types[i]}`).checked = true;
    }
    for (var i = 0; i < metals.length; i++) {
        document.getElementById(`metal-${metals[i]}`).checked = true;
    }
    for (var i = 0; i < colors.length; i++) {
        document.getElementById(`color-${colors[i]}`).checked = true;
    }
    for (var i = 0; i < centerstones.length; i++) {
        document.getElementById(`centerstone-${centerstones[i]}`).checked = true;
    }
</script>
{% endblock content %}