.abcd{ 
    width:350px;
    height:120px;
    color: white;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;


    
 }
 body{
    background:url('../images/1.jpg') no-repeat ;
    background-size: cover;
 }
 .abcd a{
     text-decoration: none;
     color: white;
 }
