{% extends 'common.html' %}
    <!-- CSS Link -->
    {% block css %}
    <link rel="stylesheet" href="/static/CSS/Company_info/style.css">
    <link rel="stylesheet" href="/static/CSS/Company_info/Responsive.css">
    {% endblock  %}
    {% block style %}
    <style>
        nav{
            height: 20vh;
background-color: #252627;
        }
    </style>
    {% endblock  %}
{% block body %}

    <nav><h3>Company</h3></nav>
    <div id="hold">
        <form action="" method="POST">
            {% csrf_token %}
            <ul id="company_form">
                <label for="company_name" id="label_company_name">Business Name</label>
                <li id="company_name">{{comform.company_name}}</li>
                <label for="contact" id="label_contact">Contact</label>
                <li id="contact">{{comform.contact}}</li>
                <label for="address" id="label_address">Address</label>
                <li id="address">{{comform.address}}</li>
                <label for="country" id="label_country">Country</label>
                <li id="country">{{comform.country}}</li>
                <li class="contry_code_P1" id="contry_code_1">{{contry_code_P1}}</li>
                <li class="country_code_P2" id="contry_code_2">{{country_code_P2}}</li>
                <label for="mobile_no" id="label_mobile_no">Mobile Number</label>
                <div class="mobile_no">
                    <li id="mobile_no">{{comform.mobile_no}}</li>
                    <li class="contry_code_P1" id="contry_code_3">{{comform.contry_code_P1}}</li>
                    <li class="country_code_P2" id="contry_code_4">{{comform.country_code_P2}}</li>
                </div>
                <label for="tel_no" id="label_tel_no">Telephone Number</label>
                <li id="tel_no">{{comform.tel_no}}</li>
                <label for="email" id="label_email">Email ID</label>
                <li id="email">{{comform.email}}</li>
                </li>
                <label for="website" id="label_website">Website</label>
                <li id="website">{{comform.website}}</li>
                <label for="pan_no." id="label_pan_no">Pan Number</label>
                <li id="pan_no">{{comform.pan_no}}</li>
                <label for="GST_no" id="label_GST_no">GST Number</label>
                <li id="GST_no">{{comform.GST_no}}</li>
                <label for="line_id" id="label_line_id">Line ID</label>
                <li id="line_id">{{comform.line_id}}</li>
                <label for="wechat_id" id="label_wechat_id">Wechat ID</label>
                <li id="wechat_id">{{comform.wechat_id}}</li>
                <div class="submit_button">
                    <button type="submit" id="submit">Submit</button>
                </div>
                

            </ul>

        </form>
    </div>

{% endblock  %}


