{% extends 'common_table.html' %}
{% block different %}
{% if tjcart.count  %}
{% else %}
<style>
  #table_view {
    padding-top: 30px;
  }
</style>
{% endif %}
<style>
  .allign-centre{
  display: flex;width: 100%;justify-content: center;margin-top: 50px;
}
</style>
{% if displaycart2_cs %}
<style>
  #table_view {
  overflow-x: hidden;
  overflow-y: scroll;
}
</style>
{% endif %}
{% if css_adjust_displaycart2_cs %}
<style>
  #table_view {
    all:unset;
    display: flex;
    white-space: nowrap;
    margin: 0 1%;
    justify-content: center;
  }
</style>
{% endif %}
{% endblock  %}
{% if tcscart %}
{% block table %}
{% if tjcart.count %}
<table class="table table-responsive" >
    <tr>
         <th style="background-color:#e7d896;color:#000000bf;">STOCK ID</th>
         <th style="background-color:#e7d896;color:#000000bf;">LOCATION</th>
         <th style="background-color:#e7d896;color:#000000bf;">JEWELLERY</th>
         <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE</th>
         <th style="background-color:#e7d896;color:#000000bf;">COLOUR OF CENTER STONE</th>
         <th style="background-color:#e7d896;color:#000000bf;">Edit Cart</th>
    </tr>
    
    {% for p in tjcart %}
    <tr>
    <td>{{ p.stockid }}</td>
    <td>{{p.location.place.capitalize}}</td>
    <td>{{p.jewellery_type}}</td>
     <td>{{p.center_stone}}</td>
    <td>{{p.color_of_center_stone}}</td>
    <td><a class="btn btn-sm btn-primary" style="text-decoration: none;    margin-right: -48px;" href="{% url 'return_jewel_cart' id=p.id %}">Return from Cart</a></td>
    </tr>
    {% endfor %}
    
    </table>
    {% else %}
    <h1>Cart is empty</h1>
    {% endif %}
{% endblock  %}
{% block container1 %}
{% if tjcart.count %}
<div class="allign-centre">
  <a class="btn btn-sm" style="text-decoration: none;background-color:#e7d896;color:#000000bf;border : 2px solid black;" href="{% url 'show_jewel_cart' %}">Sell Cart</a>
</div>
{% else %}
   <div class="allign-centre"><a href="/inventory_of_jewellery" class="uk-button  uk-button-small" style="text-decoration: none;background-color:#e7d896;color:#000000bf;border : 2px solid black;">Move Previous</a></div>
{% endif %}
{% endblock  %} 
{% endif %}

  
