{% extends 'common_table.html' %}
{% block table %}
<table class="table table-responsive" >
    <tr class="bg-primary bg-opacity-50" >
        <th class="bg-primary">STOCK ID</th>
        <th class="bg-primary" >LOCATION</th>
        <th class="bg-primary" style="text-align:center;">SHAPE</th>
        <th class="bg-primary" style="text-align:center;">GEM TYPE</th>
        <th class="bg-primary">ORIGIN</th>
         <th class="bg-primary">Colour</th>
        <th class="bg-primary" style="text-align:center;">TREATMENT</th>
         <th class="bg-primary">Edit Cart</th>
    </tr>
    {% for p in tcscart %}
    <tr>
    <td>{{ p.stockid }}</td>
    <td>{{p.location.capitalize}}</td>
    <td>{{p.shape.capitalize}}</td>
     <td>{{p.gem_type.capitalize}}</td>
    <td>{{p.origin.capitalize}}</td>
    <td>{{p.color.capitalize}}</td>
    <td>{{p.treatment.capitalize}}</td>
    <td><a class="btn btn-primary" href="{% url 'return_colorstone_cart' id=p.id %}">Return from Cart</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock  %}
{% block container1 %}
<a class="btn btn-primary" href="{% url 'show_colorstone_cart' %}">Sell Cart</a>
{% endblock  %}