{% load static %}
<html>
  <form method="POST">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
    {% csrf_token %} {{formshow2}}
    <button type="submit">Submit</button>
  </form>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- <script>
  $("#id_country").change(function(){
    const url = $("#companyform").attr("ajax/load-currency/");
    const countryId = $(this).val();

    $.ajax({
      url: url,
      data: {
           'country_id' : countryId
      },
      sucess: function(data){
        $("#id_currency").html(data);
      }
    })
  }
</script> -->