 {% extends 'common.html' %}
{% load static %}
  <!-- CSS Link -->
{% block css %}
<link rel="stylesheet" href="/static/CSS/Purchases/stylecolour.css">
<link rel="stylesheet" href="/static/CSS/Purchases/Responsive.css">
{% endblock  %}
{% block body %}
<h1>Colour Stones 
</h1>
<body>
  <form method="POST" id="showform1" class="Purchasecolour">
    
         {% csrf_token %}
        <ul id="Purchasecolourstone"> 

        <!-- <label for="stock_id" id="label_stock_id">Stock ID</label>
            <li id="stock_id">{{formshow1.company_id}}
            </li> -->
        <label for="company_name" id="label_company_name">Company Name</label>
            <li id="company_name">{{formshow1.company_name}}
            </li><br>
        <label for="location" id="label_location">Location</label>
            <li id="location">{{formshow1.location}}
            </li><br>
        <label for="shape" id="label_shape">Shape</label>
            <li id="shape">{{formshow1.shape_cs}}
            </li><br>
        <label for="gem_type" id="label_gem_type">gem_type</label>
            <li id="gem_type">{{formshow1.gem_type}}
            </li><br>
        <label for="origin" id="label_origin"> Origin</label>
            <li id="origin">{{formshow1.origin}}
            </li><br>
        <label for="treatment" id="label_treatment">Treatment</label>
            <li id="treatment">{{formshow1.Treatment}}
            </li><br>
        <label for="clarity" id="label_clarity">Clarity</label>
            <li id="clarity">{{formshow1.Clarity}}
            </li><br>
  <label for="certificate_no" id="label_certificate_no">Certificate Number</label>
            <li id="certificate_no">{{formshow1.certificate_no_cs}}
            </li><br>
        
         <label for="colour" id="label_colour">Colour </label>
            <li id="colour">{{formshow1.colour}}
            </li>  <br>
        <label for="measurements" id="label_measurements">Measurements</label>
            <li id="measurements">{{formshow1.measurements}}
            </li><br>
        <label for="lab" id="label_lab">Cut</label>
            <li id="lab">{{formshow1.lab}}
            </li><br>
        <label for="pieces" id="label_pieces">Pieces</label>
            <li id="pieces">{{formshow1.PCS}}
            </li><br>
        <label for="weight" id="label_weight">Weight</label>
            <li id="weight">{{formshow1.Weight_cs}}
            </li><br>
        <label for="price" id="label_price">Price</label>
            <li id="price">{{formshow1.Price}}
            </li><br>
               
                   
        <label for="units" id="label_units">Units</label>
            <li id="units">{{formshow1.units}}
            </li><br>
            
        <label for="amount" id="label_amount">Amount</label>
            <li id="amount">{{formshow1.amount}}
            </li><br>
        <label for="disamount" id="label_disamount">Discounted Amount</label>
            <li id="disamount">{{formshow1.discount_amount}} 
            </li> <br>
        <label for="discount" id="label_discount">Discount</label>
            <li id="discount">{{formshow1.discount}}
            </li><br>
        

          <label for="total_val_cs" id="label_total_val_cs">Total value</label>                              <!--    remove - origin,stockid,overtone and fancycolor1 , fancycolor2_ -->
            <li id="total_val_cs">{{formshow1.total_val_cs}}
            </li><br>
                                                                                     <!-- //ADD - certificate_d,purchase approval checkbox(purchaseapvd) , total_val_d_ -->
        <label for="currency" id="label_currency">Currency</label>                                <!--  remove - origin,stockid,overtone and fancycolor1 , fancycolor2_ -->
             <li id="currency">{{formshow1.currency}}
            </li><br>
            
        
         <label for="tag_price" id="label_tag_price">Tag Price</label>
            <li id="tag_price">{{formshow1.tag_price_cs}}
            </li><br>
        <label for="rate" id="label_rate">Rate</label>
            <li id="rate">{{formshow1.rate}}
            </li><br>
        

          
            <div class="submit_button">
              <button type="submit" form="showform1" value= "Submit" id="submit">Submit</button>
        </div> 
      </form> 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   if (!$) {
    $ = django.jQuery;
  }
  $(document).on("change keyup blur","#id_units",function() {
    var pieces = $('#id_PCS').val();
    var price = $('#id_Price').val();
    var unit =$("#id_units").val();
    console.log(pieces);
    console.log(unit);
    console.log(price);
    var t = parseInt(pieces)*parseInt(unit)*parseFloat(price);
    console.log(t);
    
    if (pieces !='' && unit !='' && price!=''){
         $('#id_amount').val(t.toFixed(2));
    }else{
      $('#id_amount').val('')
    }
  });
  $(document).on("change keyup blur", "#id_discount",function() {
  var amd = $('#id_amount').val();
  var disc = $('#id_discount').val();
  var z=(parseFloat(amd))* (parseFloat(disc))/100
  if (disc != '' && amd != '') {
    $('#id_discount_amount').val(z.toFixed(2));
    $('#id_total_val_cs').val((amd-z).toFixed(2))
  }else{
    $('#id_discount_amount').val('');
    $('#id_total_val_cs').val('')


  }
});
</script>
  </body>
{% endblock %}     
        
   <!-- <form action="/action_page.php" method="get" id="form1">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname">
    </form>
    
    <button type="submit" form="form1" value="Submit">Submit</button>        -->



<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   if (!$) {
    $ = django.jQuery;
  }
  $(document).on("change keyup blur","#id_units",function() {
    var pieces = $('#id_PCS').val();
    var price = $('#id_Price').val();
    var unit =$("#id_units").val();
    console.log(pieces);
    console.log(unit);
    console.log(price);
    var t = parseInt(pieces)*parseInt(unit)*parseFloat(price);
    console.log(t);
    
    if (pieces !='' && unit !='' && price!=''){
         $('#id_amount').val(t.toFixed(2));
    }else{
      $('#id_amount').val('')
    }
  });
  $(document).on("change keyup blur", "#id_discount",function() {
  var amd = $('#id_amount').val();
  var disc = $('#id_discount').val();
  var z=(parseFloat(amd))* (parseFloat(disc))/100
  if (disc != '' && amd != '') {
    $('#id_discount_amount').val(z.toFixed(2));
    $('#id_total_val_cs').val((amd-z).toFixed(2))
  }else{
    $('#id_discount_amount').val('');
    $('#id_total_val_cs').val('')

  }
});
</script> -->