{% extends 'common.html' %}
{% load static %}
<!-- CSS Link -->
{% block css %}
<link rel="stylesheet" href="/static/CSS/Purchases/style.css">
<link rel="stylesheet" href="/static/CSS/Purchases/Responsive.css">
{% endblock %}
{% block body %}
<h1>Jewellery
</h1>

<body>
  <p>{{latest.id}}</p>

  <form method="POST" id="showform" class="PurchaseJewellary">
    {% csrf_token %}
    <ul id="PurchaseJewellary">

      <label for="company_name" id="label_company_name">Company</label>
      <li id="company_name">{{formshow.company_name}}
      </li><br>
      <label for="location" id="label_location">Location</label>
      <li id="location">{{formshow.location}}
      </li><br>
      <label for="jewellary" id="label_jewellary">Jewellary</label>
      <li id="jewellary">{{formshow.jewellery}}
      </li><br>
      <label for="c_stone" id="label_c_stone">Center Stone</label>
      <li id="c_stone">{{formshow.center_stone}}
      </li><br>
      <label for="colour_c" id="label_colour_c">Colour of Center Stone</label>
      <li id="colour_c">{{formshow.color_of_center_stone}}
      </li><br>
      <label for="shape" id="label_shape">Shape</label>
      <li id="shape">{{formshow.shape}}
      </li><br>
      <label for="metal" id="label_metal">metal</label>
      <li id="metal">{{formshow.metal}}
      </li><br>
      <label for="gross" id="label_gross"> gross Weight</label>
      <li id="gross">{{formshow.grosswt}}
      </li><br>
      <label for="phone_number" id="label_phone_number">phone_number</label>
      <li id="phone_number">{{formshow.phone_number}}
      </li><br>

      <label for="certifications" id="label_certifications">Certificate </label>
      <li id="certifications">{{formshow.cert}}
      </li><br>


      <label for="pieces" id="label_pieces">Pieces</label>
      <li id="pieces">{{formshow.pcs }}
      </li><br>


      <label for="amount" id="label_amount">Amount</label>
      <li id="amount">{{formshow.amount}}
      </li><br>
      <label for="disamount" id="label_disamount">DISCOUNT Amount</label>
      <li id="disamount">{{formshow.discount_amount}}
      </li> <br>
      <label for="discount" id="label_discount">Discount</label>
      <li id="discount">{{formshow.discount}}
      </li><br>


      <label for="total_val" id="label_total_val">Total value</label>
      <li id="total_val">{{formshow.total}}
      </li><br>
      <label for="purchaseapv" id="label_purchaseapv">Purchase approval</label>
      <li id="purchaseapv">{{formshow.purchase_approval}}
      </li><br>
      <label for="currency" id="label_currency">Currency</label>
      <li id="currency">{{formshow.currencyid}}
      </li><br>

      <label for="tag_price" id="label_tag_price">Tag Price</label>
      <li id="tag_price">{{formshow.tag_price}}
      </li><br>
      <label for="rate" id="label_rate">Rate</label>
      <li id="rate">{{formshow.rate}}
      </li><br>

      <div class="submit_button">
        <button type="submit" id="submit">Submit</button>
      </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    if (!$) {
      $ = django.jQuery;
    }
    $(document).on("change keyup blur", "#id_discount", function () {
      var amd = $('#id_amount').val();
      var disc = $('#id_discount').val();
      var z = (parseFloat(amd)) * (parseFloat(disc)) / 100
      if (disc != '' && amd != '') {
        $('#id_discount_amount').val(z.toFixed(2));
        $('#id_total').val((amd - z).toFixed(2))
      } else {
        $('#id_discount_amount').val('');
        $('#id_total').val('')

      }
    });
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</body>
{% endblock %}

<!-- <html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
<!-- <form method="POST" id="companyform" curr-url="(% url 'ajax/load-currency/' %)">
  {% csrf_token %} {{formshow}}
  <button type="submit">Submit</button>
</form>
</html> -->

<!-- don't uncomment below -->
<!-- <script>
  if (!$) {
    $ = django.jQuery;
  }
  $(document).on("change keyup blur", "#id_discount", function() {
  var amd = $('#id_amount').val();
  var disc = $('#id_discount').val();
  var z=(parseFloat(amd))* (parseFloat(disc))/100
  if (disc != '' && amd != '') {
    $('#id_discount_amount').val(z.toFixed(2));
    $('#id_total').val((amd-z).toFixed(2))
  }else{
    $('#id_discount_amount').val('');
    $('#id_total').val('')

  }
});

</script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</html>
 -->

<!-- <script>
  $("#id_country").change(function(){
    const url = $("#companyform").attr("ajax/load-currency/");
    const countryId = $(this).val();

    $.ajax({
      url: url,
      data: {
           'country_id' : countryId
      },
      sucess: function(data){
        $("#id_currency").html(data);
      }
    })
  }
</script> -->