{% extends 'common_return.html' %}
{% block return_form %}
<!-- Colour Stone Return -->
{% for p in returned %}
<div class="col-sm-6" style="width:250px;margin:2%">
  <div class="card text-center border-dark border-2 uk-animation-toggle" tabindex="0">
    <div class="card-body uk-animation-fade" style="background:#185181">
      <h5 class="card-title text-warning">{{p.stockid}}</h5>
      <p class="card-text text-info">Location : {{p.location.capitalize}}</p>
      <p class="card-text text-info">Jewellery : {{p.jewellery_type}}</p>
      <p class="card-text text-info">Centerstone : {{p.center_stone}}</p>
      <p class="card-text text-info">Shape : {{p.shape}}</p>
      <a href="{% url 'backtoinv' id=p.id%}" class="btn btn-danger" style="font-size:13px;text-decoration:none">Return
        Back to Inventory</a>
    </div>
  </div>
</div>
{%endfor%}
{% endblock %}