{% extends 'base.html' %}
{% block style %}
<style>
  #allign_center {
    display: flex;
    justify-content: end;
    margin-right: 3%;
  }
</style>
{% endblock %}
{% block container %}
<div style="text-align: center;">
  <h2>Sales Return of Colourstone</h2>
</div>
<div id="allign_center"><a class="btn btn-success" style="text-decoration:none;margin-top: 30px;"
    href="ExportSalesReturnCS" target="">Export Entry</a></div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">RETURNED DATE</th>
      <th scope="col">STOCK ID</th>
      <th scope="col">COMPANY NAME</th>
      <th scope="col">LOCATION</th>
      <th scope="col">GEM TYPE</th>
      <th scope="col">COLOUR</th>
      <th scope="col">WEIGHT</th>
      <th scope="col">PRICE/CT</th>
      <th scope="col">TOTAL AMOUNT</th>
      <th scope="col">CURRENCY</th>

    </tr>
  </thead>
  {% for p in ret_scs %}
  <tbody>
    <tr>
      <td>{{p.date}}</td>
      <td>{{p.stockid}}</td>
      <td>{{p.company_name}}</td>
      <td>{{p.location}}</td>
      <td>{{p.gem_type}}</td>
      <td>{{p.colour}}</td>
      <td>{{p.weight}}</td>
      <td>{{p.price}}</td>
      <td>{{p.total_amount}}</td>
      <td>{{p.currency}}</td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{% endblock %}