{% extends 'base.html' %}
{% block style %}
<style>
  #allign_center{
    display: flex;
    justify-content: end;
    margin-right: 3%;
  }
</style>
{% endblock  %}
{% block container %}
<div style="text-align: center;"> 
  <h2>Sales Returns of Jewellery</h2>
</div>

  <div id="allign_center"><a class="btn btn-success" style="text-decoration:none;margin-top: 30px;" href="/export_sales_return_of_diamond" target="">Export Entry</a></div>
    <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th scope="col">Returned Date</th>
            <th scope="col">Stock ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">location</th>
            <th scope="col">Shape</th>
            <th scope="col">Total Value -Sold</th>
          </tr>
        </thead>
    {% for p in ret_sd %}
    <tbody>
        <tr>
          <td>{{p.date}}</td>
          <td>{{p.stockid}}</td>
          <td>{{p.company_name}}</td>
          <td>{{p.location}}</td>
          <td>{{p.shape}}</td>
          <td>{{p.totalamount}}</td>
        </tr>
      </tbody>
    {%endfor%}
</table>
{% endblock %}
