{% extends 'base.html' %}
{% block style %}
<style>
  #allign_center {
    display: flex;
    justify-content: end;
    margin-right: 3%;
  }
</style>
{% endblock %}
{% block container %}
<div style="text-align: center;">
  <h2>Sales Returns of Diamonds</h2>
</div>

<div id="allign_center"><a class="btn btn-success" style="text-decoration:none;margin-top: 30px;"
    href="/export_sales_return_of_diamond" target="">Export Entry</a></div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">RETURNED DATE</th>
      <th scope="col">STOCK ID</th>
      <th scope="col">COMPANY NAME</th>
      <th scope="col">LOCATION</th>
      <th scope="col">SHAPE</th>
      <th scope="col">WEIGHT</th>
      <th scope="col">COLOUR</th>
      <th scope="col">CLARITY</th>
      <th scope="col">TOTAL AMOUNT</th>
    </tr>
  </thead>
  {% for p in ret_sd %}
  <tbody>
    <tr>
      <td>{{p.date}}</td>
      <td>{{p.stockid}}</td>
      <td>{{p.company_name}}</td>
      <td>{{p.location}}</td>
      <td>{{p.shape}}</td>
      <td>{{p.weight}}</td>
      <td>{{p.colour}}</td>
      <td>{{p.clarity}}</td>
      <td>{{p.totalamount}}</td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{% endblock %}