{% extends 'common_table.html' %}
<!-- Colour Stone Sell Record -->
{% block table %}
<table class="table table-responsive">
    <tr class="bg-primary bg-opacity-50" id="table-heading">
        <th class="bg-primary">STOCK ID</th>
        <th class="bg-primary" >LOCATION</th>
        <th class="bg-primary" style="text-align:center;">SHAPE</th>
        <th class="bg-primary" style="text-align:center;">GEM TYPE</th>
        <th class="bg-primary">ORIGIN</th>
        <th class="bg-primary" style="text-align:center;">TREATMENT</th>
        <th class="bg-primary">CLARITY</th>
        <th class="bg-primary">CERTIFICATE NUMBER</th>
        <th class="bg-primary">COLOURS</th>
        <th class="bg-primary">MEASUREMENTS</th>
        <th class="bg-primary">LAB</th>
        <th class="bg-primary">PIECES</th>
        <th class="bg-primary">WEIGHT</th>
        <th class="bg-primary">PRICE</th>
        <th class="bg-primary">UNITS</th>
        <th class="bg-primary">AMOUNT</th>
        <th class="bg-primary">DISCOUNT</th>
        <th class="bg-primary">DISCOUNTED AMOUNT</th>
        <th class="bg-primary">TOTAL VALUE</th>
        <th class="bg-primary">CURRENCY</th>
        <th class="bg-primary">TAG PRICE</th>
        <th class="bg-primary">RATE</th>
        <th class="bg-primary">COMMENTS</th>
        <th class="bg-primary" style="text-align:center;">SALES STATUS</th>
    </tr>
    {% for obj in sold_items %} 
    <tr>
        <td style="text-align:center;">{{obj.stockid}}</td>
        <td>{{obj.location.capitalize}}</td>
        <td>{{obj.shape.capitalize}}</td>
        <td>{{obj.gem_type.capitalize}}</td>
        <td>{{obj.origin.capitalize}}</td>
        <td>{{obj.treatment.capitalize}}</td>
        <td>{{obj.Clarity.capitalize}}</td>
        <td>{{obj.certificate_no}}</th>
        <td>{{obj.color}}</td>
        <td>{{obj.measurements}}</td>
        <td>{{obj.lab}}</td>
        <td>{{obj.PCS}}</td>
        <td>{{obj.Weight_cs}}</td>
        <td>{{obj.price}}</td>
        <td>{{obj.units_cs}}</td>
        <td>{{obj.amount_cs}}</td>
        <td>{{obj.DIS_cs}}</td>
        <td>{{obj.DIS_amount_cs}}</td>
        <td>{{obj.total_value_cs}}</td>
        <td>{{obj.currency_cs.upper}}</td>
        <td>{{obj.tag_price_cs}}</td>
        <td>{{obj.rate_cs}}</td>
        {% if obj.comment %}
        <td>{{obj.comment}}</td>
        {% endif %}
        <td>{{obj.salesapprovalstatus_cs}}</td>
        {% if obj.salesapprovalstatus_cs is False %}
        <td><a class="btn btn-primary" style="text-decoration:none;" href="{% url 'return_colorstone_Inventory' obj.id %}" target=""> Return back to Inventory</a></td>
        {% endif%}
    </tr>
    {% endfor %}
</table>

{% endblock  %}
{% block container1 %}
<div id="allign_sell_btn_right"><a class="btn btn-primary btn-sm" style ="text-decoration: none" href="{% url 'displaysalesreturn_cs' %}" target=""> View Sales Return</a></div>{% endblock %}