<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method='POST' action="{%url 'search' %}">
        {% csrf_token %}
        <input type="text" id="search" name="search" placeholder="Search posts" />
        <input type="submit" value="Search">
    </form>
    <br>

    <div class="container">
        <table>
            <thead>
                <th>Stock ID</th>
                <th>Location</th>
                <th>Certification</th>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for p in productsj %}
                {% if p.appvreturnstatus is False %}
                <tr id="{{p.id}}">
                    <td>{{p.stockid}}</td>
                    <td>{{p.location}}</td>
                    <td>Aryan</td>
                    {% if p.appvreturnstatus is False and p.purchaseapv is False %}
                    <td><input type="checkbox" name="jewell_id[]" value="{{p.id}}" class="save-cb-state"
                            id="delete_jewell"></td>
                    {% endif %}
                    
                    {% if p.cartstatus is False %}
                    <td><a class="btn btn-primary" href="{% url 'addtocart' id=p.id %}">ADD TO CART</a></td>
                    {% endif %}
                    {% if p.cartstatus is True %}
                    <td><a class="btn btn-primary">Go To CART</a></td>
                    {% endif %}

                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit" id="delete_btn">Add to return table</button>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'retobj_j' %}">View returned objects</a>
        <a class="btn-btn-primary" href="{% url 'displaycart2' %}">View Cart</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        if (!$) {
            $ = django.jQuery;
        }
        $(document).ready(function () {
            $('#delete_btn').click(function () {
                if (confirm("You want to delete this")) {
                    var id = [];
                    var csrf = $('input[name=csrfmiddlewaretoken').val()
                    $(':checkbox:checked').each(function (i) {

                        id[i] = $(this).val()
                    })
                    if (id.length == 0) {
                        alert("No items Selected Please Select Again");

                    }
                    else {
                        $.ajax({
                            url: '.',
                            method: "POST",
                            data: {
                                id,
                                csrfmiddlewaretoken: csrf,
                            },

                            success: function (response) {
                                window.location.reload();
                                for (var i = 0; i < id.length; i++) {

                                    $('tr#' + id[i] + '').css('background-color', '#ccc');
                                    $('tr#' + id[i] + '').fadeOut('slow');

                                }

                            }

                        });
                    }


                }




            });

        });
    </script>
</body>

</html>