<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Stockid</th>
            <th>Company Name</th>
            <th>Shape</th>
            <th>Country</th>
            <th>clarity</th>
            <th>Sales Status</th>
            <th></th>
            <th></th>
        </tr>
    {%for item in sold_items%}
        <tr>
            <td>{{item.date}}</td>
        <td>{{item.stockid}}</td>
        <td>{{item.company_name}}</td>
        <td>{{item.shape}}</td>
        <td>{{item.location}}</td>
        <td>{{item.clarity}}</td>
        <td>{{item.salesapprovalstatus_d}}</td>
        {% if item.salesapprovalstatus_d is False %}
        <td><a href="{% url 'return_diamond_Inventory' item.id %}" target=""> Return back to Inventory</a></td>
        {% endif%}
    </tr>

    {%endfor%}

    <button><a href="{% url 'displaysalesreturn_d' %}" target=""> View Sales Return</a></button>
</table>
</body>
</html>