<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conditionals</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {% if messages%}
    {% for message in messages%}
    {{message}}
    {%endfor%}
    {%endif%}
    <form method="post" action="">
      {%csrf_token%} {{totalitems_cs.management_form }}
      <table>
        {% for form in totalitems_cs %} {{ form }} {% endfor %}
      </table>
      <div>
      <h5>Total Value of all items: </h5><span id="total_amount_cum">0</span><br>
    </div>
      <button type="submit" class="btn btn-3" onclick=''>Submit</button>
      {% if is_valid%}
     <a href='{% url 'sell_cs' %}'>Sell</a>
     {%endif%}
    </form>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

    var s = " ";
    var formCnt = "{{itemcount}}";
    var k = "$('#id_form-0-company_name').on('change keyup blur',function(){var a = document.getElementById('id_form-0-company_name').value;document.getElementById('id_form-0-company_name').value = a;"
    var k1 = ";});";

    var discount_str = " ";
    var total_amount = "$(document).on('keyup', function(){ var total_amount_value = 0";
    var total_amount1 = ";if(!isNaN(total_amount_value)) document.getElementById('total_amount_cum').innerHTML = total_amount_value.toFixed(2);});";
    
    // $('#id_form-0-price').on("change keyup blur",function(){document.getElementById('id_form-0-amount_cs').value = 8349983});
    for( var i = 0; i < formCnt; i++){
      s+="$('#id_form-"+ i + "-price').on('change keyup blur', function(){var price = document.getElementById('id_form-"+i+"-price').value; var weight = document.getElementById('id_form-"+i+"-Weight_cs').value; document.getElementById('id_form-"+i+"-amount_cs').value = (weight * price).toFixed(2);  });   ";
      k+="document.getElementById('id_form-"+i+"-company_name').value = a; ";
      discount_str+="$('#id_form-"+ i + "-DIS_cs').on('change keyup blur', function(){var discount = document.getElementById('id_form-"+i+"-DIS_cs').value; var amount = document.getElementById('id_form-"+i+"-amount_cs').value; document.getElementById('id_form-"+i+"-DIS_amount_cs').value = ((amount * discount)/100).toFixed(2); document.getElementById('id_form-"+i+"-total_value_cs').value = (amount - ((amount * discount)/100)).toFixed(2);  });   ";
      total_amount+="+parseFloat(document.getElementById('id_form-"+ i +"-total_value_cs').value)" 
      eval(s);
      eval(k+k1);
      eval(discount_str);
      eval(total_amount+total_amount1);
    }
    eval(s);
    eval(k+k1);
    eval(discount_str);
    eval(total_amount+total_amount1);
    console.log(total_amount+total_amount1);
  </script>
</html>

