<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Stockid</th>
            <th>Company Name</th>
            <th>Gem type</th>
            <th>Country</th>
            <th>origin</th>
            <th>Sales Status</th>
            <th></th>
            <th></th>
        </tr>
    {%for item in sold_items%}
        <tr>
            <td>{{item.date}}</td>
        <td>{{item.stockid}}</td>
        <td>{{item.company_name}}</td>
        <td>{{item.gem_type}}</td>
        <td>{{item.location}}</td>
        <td>{{item.origin}}</td>
        <td>{{item.salesapprovalstatus_cs}}</td>
        {% if item.salesapprovalstatus_cs is False %}
        <td><a href="{% url 'return_colorstone_Inventory' item.id %}" target=""> Return back to Inventory</a></td>
        {% endif%}
    </tr>

    {%endfor%}

    <button><a href="{% url 'displaysalesreturn_cs' %}" target=""> View Sales Return</a></button>
</table>
</body>
</html>