{% extends 'common_table_inv.html' %}
<!-- Jwellery Inventory Table -->
{% block search %}
<form class="d-flex align-content-center" method='POST' action="{%url 'search' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="text" id="search" name="search" placeholder="Search posts" />
    <input type="submit" class="btn btn-outline-success" value="Search">
</form>
{% endblock%}
{% block table %}
<table class="table table-responsive" >
    <tr class="bg-primary bg-opacity-50" >
        <th class="bg-primary">STOCK ID</th>
        <th class="bg-primary" >LOCATION</th>
        <th class="bg-primary" style="text-align:center;">SHAPE</th>
        <th class="bg-primary" style="text-align:center;">GEM TYPE</th>
        <th class="bg-primary">ORIGIN</th>
        <th class="bg-primary" style="text-align:center;">TREATMENT</th>
        <th class="bg-primary">CLARITY</th>
        <th class="bg-primary">CERTIFICATE NUMBER</th>
        <th class="bg-primary">COLOURS</th>
        <th class="bg-primary">MEASUREMENTS</th>
        <th class="bg-primary">LAB</th>
        <th class="bg-primary">PIECES</th>
        <th class="bg-primary">WEIGHT</th>
        <th class="bg-primary">TAG PRICE</th>
        <th class="bg-primary">STATUS</th>
        <th class="bg-primary" style="text-align:center;">CART</th>
        <th class="bg-primary" style="text-align:center;">Home Page</th>
        <th class="bg-primary" style="text-align:center;">CHECK</th>
    </tr>
    {% csrf_token %}
                {% for obj in products_cs %}
                {% if obj.appvreturnstatus is False  %}
    <tr  id="{{obj.id}}">
        <td style="text-align:center;">{{obj.stockid}}</td>
        <td>{{obj.location.capitalize}}</td>
        <td>{{obj.shape.capitalize}}</td>
        <td>{{obj.gem_type.capitalize}}</td>
        <td>{{obj.origin.capitalize}}</td>
        <td>{{obj.treatment.capitalize}}</td>
        <td>{{obj.Clarity.capitalize}}</td>
        <td>{{obj.certificate_no}}</th>
        <td>{{obj.colors.capitalize}}</td>
        <td>{{obj.measurements}}</td>
        <td>{{obj.lab.capitalize}}</td>
        <td>{{obj.PCS}}</td>
        <td>{{obj.Weight}}</td>
        <td>{{obj.tag_price}}</td>
        <td>{{obj.status}}</td>
        {% if obj.cartstatus is False %}
        <td style="padding: 10px 20px;"><a class="btn btn-primary"style="text-decoration: none;" href="{% url 'addtocart' id=obj.id %}">ADD TO CART</a></td>
        
        {% endif %}
        {% if obj.cartstatus is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;" href="{% url 'displaycart2_cs' %}" >Go To CART</a></td>
        {% endif %}
        {% if obj.frontend is False %}
        <td style="padding: 10px 50px;"><a class="btn btn-primary"style="text-decoration: none;" href="{% url 'show_on_frontend_cs' id=obj.id %}">Show on Home Page</a></td>
        
        {% endif %}
        {% if obj.frontend is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;" href="{% url 'hide_from_frontend_cs' id=obj.id %}" >Remove From Home Page</a></td>
        {% endif %}

        {% if obj.appvreturnstatus is False and obj.purchaseapv is False %}
        <td style="padding-top: 17px;padding-left: 28px;"><input type="checkbox" name="cs_id[]" value="{{obj.id}}" class="save-cb-state" id="delete_cs" style="    height: 20px;width: 20px;" ></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock  %}
{% block container1 %}
<div id="button-allignment">
    <button class="btn btn-primary btn-sm btnedit"  type="submit" id="delete_btn" style="text-decoration:none">Add to return table</button>
    <a class="btn btn-primary btn-sm btnedit"  href="{% url 'retobj_cs' %}" style="text-decoration: none;">View returned objects</a>
    <a class="btn btn-primary btn-sm btnedit"  href="{% url 'displaycart2_cs' %}" style="text-decoration: none;">View Cart</a>

</div>
{% endblock %}

    
