{% extends 'common_table.html' %}
<!-- Jewellery Sell Record -->
{% block table %}
<table class="table table-responsive">
    <tr id="table-heading">
    <th style="background-color:#e7d896;color:#000000bf;">DATE</th>
    <th style="background-color:#e7d896;color:#000000bf;">STOCK ID</th>
    <th style="background-color:#e7d896;color:#000000bf;">COMPANY NAME</th>
    <th style="background-color:#e7d896;color:#000000bf;">LOCATION</th>
    <th style="background-color:#e7d896;color:#000000bf;">JEWELLERY TYPE</th>
    <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE</th>
    <th style="background-color:#e7d896;color:#000000bf;">COLOUR OF CENTER STONE</th>
    <th style="background-color:#e7d896;color:#000000bf;">SHAPE</th>
    <th style="background-color:#e7d896;color:#000000bf;">Metal</th>
    <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE WEIGHT</th>
    <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE PIECES</th>
    <th style="background-color:#e7d896;color:#000000bf;">GROSS WEIGHT</th>
    <th style="background-color:#e7d896;color:#000000bf;">PIECES</th>
    <th style="background-color:#e7d896;color:#000000bf;">CERTIFICATE</th>
    <th style="background-color:#e7d896;color:#000000bf;">AMOUNT</th>
    <th style="background-color:#e7d896;color:#000000bf;">DISCOUNT in %</th>
    <th style="background-color:#e7d896;color:#000000bf;">DISCOUNTED AMOUNT</th>
    <th style="background-color:#e7d896;color:#000000bf;">TOTAL</th>
    <th style="background-color:#e7d896;color:#000000bf;">CURRENCY</th>
    <th style="background-color:#e7d896;color:#000000bf;">TAG PRICE</th>
    <th style="background-color:#e7d896;color:#000000bf;">RATE</th>
    <th style="background-color:#e7d896;color:#000000bf;">SALES STATUS</th>
    <th style="background-color:#e7d896;color:#000000bf;">ACTION</th>
    <th style="background-color:#e7d896;color:#000000bf;">COMMENTS</th>
    </tr>
    {% for obj in sold_items%} 
    <tr>
        <td>{{obj.date}}</td>
        <td>{{obj.stockid}}</td>
        <td>{{obj.company_name}}</td>
        <td>{{obj.location}}</td>
        <td>{{obj.jewellery_type}}</td>
        <td>{{obj.center_stone}}</td>
        <td>{{obj.color_of_center_stone}}</th>
        <td>{{obj.shape}}</td>
        <td>{{obj.metal}}</td>
        <td>{{obj.center_stone_weight}}</td>
        <td>{{obj.center_stone_pieces}}</td>
        <td>{{obj.gross_wt}}</td>
        <td>{{obj.PCS}}</td>
        <td>{{obj.certificate}}</td>
        <td>{{obj.amount}}</td>
        <td>{{obj.DIS}}</td>
        <td>{{obj.DIS_amount}}</td>
        <td>{{obj.total_value}}</td>
        <td>{{obj.tag_price}}</td>
        <td>{{obj.currency}}</td>
        <td>{{obj.rate}}</td>
        {% if obj.salesapprovalstatus %}
        <td>YES</td>
        {% else %}
        <td>NO</td>
        {% endif %}
        {% if obj.salesapprovalstatus is False %}
        <td><a class="btn btn-primary" style="text-decoration:none;" href="{% url 'return_jewel_Inventory' obj.id %}" target=""> Return back to Inventory</a></td>
        {% else %}
        <td><a class="btn btn-primary" style="text-decoration:none;" target="">ALREADY SOLD</a></td>
        {% endif%}
        <td><details><summary>Click to see comment</summary><p>{{obj.comment|linebreaks}}</p></details></td>
    </tr>
    {% endfor %}
</table>

{% endblock  %}
{% block container1 %}
<div class="sale_export">
   <a class="btn btn-sm" style ="background-color: #e7d896;color:#000000bf;text-decoration: none;margin-right: 20px;" href="{% url 'displaysalesreturn' %}" target=""> View Sales Return</a>
   <a class="btn  btn-sm" style ="background-color: #e7d896;color:#000000bf;text-decoration: none;margin-left: 20px;" href="/ExportSalesofjewellery"> Export Records</a>
</div>
{% endblock %}