{% extends 'common_table_inv.html' %}
<!-- Colour Stone Inventory Table -->
{% block search %}
<form class="d-flex align-content-center" method='POST' action="{%url 'search' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="text" id="search" name="search" placeholder="Search posts" />
    <input type="submit" class="btn btn-outline-success" value="Search">
</form>
{% endblock%}
{% block table %}
<table class="table table-responsive">
    <tr class="bg-primary bg-opacity-50">
        <th class="bg-primary">STOCK ID</th>
        <th class="bg-primary">LOCATION</th>
        <th class="bg-primary" style="text-align:center;">SHAPE</th>
        <th class="bg-primary" style="text-align:center;">GEM TYPE</th>
        <th class="bg-primary">ORIGIN</th>
        <th class="bg-primary" style="text-align:center;">TREATMENT</th>
        <th class="bg-primary">CLARITY</th>
        <th class="bg-primary">CERTIFICATE NUMBER</th>
        <th class="bg-primary">LAB</th>
        <th class="bg-primary">CERTIFICATE FILE</th>
        <th class="bg-primary">COLOUR</th>
        <th class="bg-primary">MEASUREMENTS</th>
        <th class="bg-primary">PIECES</th>
        <th class="bg-primary">WEIGHT</th>
        <th class="bg-primary">UNITS</th>
        <th class="bg-primary">TAG PRICE</th>
        <th class="bg-primary" style="text-align:center;">CART</th>
        <th class="bg-primary" style="text-align:center;">HOME PAGE</th>
        <th class="bg-primary" style="text-align:center;">RETURN</th>
    </tr>
    {% csrf_token %}
    {% for obj in products_cs %}
    {% if obj.appvreturnstatus is False %}
    <tr id="{{obj.id}}">
        <td style="text-align:center;" id="stock_id{{ forloop.counter }}">{{obj.stockid}}</td>
        <td>{{obj.location.place.capitalize}}</td>
        <td>{{obj.shape.shape.capitalize}}</td>
        <td>{{obj.gem_type.gem.capitalize}}</td>
        <td>{{obj.origin.org.capitalize}}</td>
        <td>{{obj.treatment.treatment.capitalize}}</td>
        <td>{{obj.Clarity.capitalize}}</td>
        <td>{{obj.certificate_no}}</td>
        <td>{{obj.lab.lab.upper}}</td>
        {% if obj.media.certificate %}
        <td><a href="/media/{{obj.media.certificate}}">See Certificate</a>
            {% else %}
        <td>No Certificate</td>
        {% endif %}
        </td>
        <td>{{obj.color.color.capitalize}}</td>
        <td>{{obj.measurements}}</td>
        <td>{{obj.PCS}}</td>
        <td>{{obj.Weight}}</td>
        <td>{{obj.units.upper}}</td>
        <td>{{obj.tag_price}}</td>
        {% if obj.cartstatus is False %}
        <td style="padding: 10px 20px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'addtocart_cs' id=obj.id %}">ADD TO CART</a></td>

        {% endif %}
        {% if obj.cartstatus is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'displaycart2_cs' %}">Go To CART</a></td>
        {% endif %}
        {% if obj.frontend is False %}
        <td style="padding: 10px 50px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'show_on_frontend_cs' id=obj.id %}">Show on Home Page</a></td>

        {% endif %}
        {% if obj.frontend is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'hide_from_frontend_cs' id=obj.id %}">Remove From Home Page</a></td>
        {% endif %}

        {% if obj.appvreturnstatus is False and obj.purchaseapv is False %}
        <td style="padding-top: 17px;padding-left: 28px;"><input type="checkbox" name="cs_id[]" value="{{obj.id}}"
                class="save-cb-state" id="inventory_color_stone" style="    height: 20px;width: 20px;"></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}
{% block container1 %}
<div id="button-allignment">
    <button class="btn btn-primary btn-sm btnedit" type="submit" id="delete_btn" style="text-decoration:none">Return
        Selected Items</button>
    <a class="btn btn-primary btn-sm btnedit" href="{% url 'retobj_cs' %}" style="text-decoration: none;">View returned
        items</a>
    <a class="btn btn-primary btn-sm btnedit" href="{% url 'displaycart2_cs' %}" style="text-decoration: none;">View
        Cart</a>
    <a class="btn btn-primary btn-sm btnedit" href="{% url 'ExportInventoryofcolorstones' %}"
        style="text-decoration: none;">Export Inventory</a>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}