{% extends 'common_table_inv.html' %}
{% block table %}
<style>
    .bird-form td {
        overflow: scroll;
        max-width: 200px;
    }
</style>
<form id="form-container" method="POST">
    {% csrf_token %}
    <table id="all_forms" class="table table-responsive">
        <tr class="bg-primary bg-opacity-50" id="table-heading" height="30px">
            <th class="bg-primary">DATE</th>
            <th class="bg-primary">COMPANY NAME</th>
            <th class="bg-primary">LOCATION</th>
            <th class="bg-primary" style="text-align:center;">SHAPE</th>
            <th class="bg-primary" style="text-align:center;">GEM TYPE</th>
            <th class="bg-primary">ORIGIN</th>
            <th class="bg-primary" style="text-align:center;">TREATMENT</th>
            <th class="bg-primary">CLARITY</th>
            <th class="bg-primary">CERTIFICATE NUMBER</th>
            <th class="bg-primary">COLOUR</th>
            <th class="bg-primary">MEASUREMENTS</th>
            <th class="bg-primary">LAB</th>
            <th class="bg-primary">PIECES</th>
            <th class="bg-primary">WEIGHT</th>
            <th class="bg-primary">PRICE</th>
            <th class="bg-primary">UNITS</th>
            <th class="bg-primary">AMOUNT</th>
            <th class="bg-primary">DISCOUNT %</th>
            <th class="bg-primary">DISCOUNT AMOUNT</th>
            <th class="bg-primary">TOTAL AMOUNT</th>
            <th class="bg-primary">BOUGHT</th>
            <th class="bg-primary">CURRENCY</th>
            <th class="bg-primary">TAG PRICE</th>
            <th class="bg-primary">RATE</th>
            <th class="bg-primary">COMMENTS</th>
        </tr>
        {{totalitems_cs.management_form}}
        {% for obj in totalitems_cs %}
        <tr class="bird-form">
            {% for field in obj%}
            <td>{{field}} <br> {{field.errors}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div id="button-allignment" style="top: 88vh;">
        <button type="submit" class="btn btn-sm btn-danger btnedit" id="btn-danger">Submit</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var total = "{{total}}"
    console.log(total)
    var s, company_detail_call;
    for (var i = 0; i < total; i++) {
        document.querySelector("#id_form-" + i + "-company_name").insertAdjacentHTML("afterend", "<br><h6><strong>Phone No.: </strong></h6><span id='company_contact_number-" + i + "'></span><br><br><h6><strong>Address.: </strong></h6><span id='company_address-" + i + "'><span>")
        company_detail_call = "$('#id_form-" + i + "-company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}'," +
            "data: {'name': company_name,},success: function(data) { document.getElementById('company_contact_number-" + i + "').innerHTML = data['contact_no']; " +
            "document.getElementById('company_address-" + i + "').innerHTML = data['location'];} }) });"
        amt = "$('#id_form-" + i + "-Price, #id_form-" + i + "-Weight').on('change keyup blur', function () { var weight = document.getElementById('id_form-" + i + "-Weight').value; var price = document.getElementById('id_form-" + i + "-Price').value; var amount_value = (price * weight); document.getElementById('id_form-" + i + "-amount').value = amount_value.toFixed(2);  });  "
        s = "$('#id_form-" + i + "-discount').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount').value; var disc = document.getElementById('id_form-" + i + "-discount').value; var discamt = (amount * disc) / 100; document.getElementById('id_form-" + i + "-discount_amount').value = discamt.toFixed(2); document.getElementById('id_form-" + i + "-total_val').value=(amount- discamt).toFixed(2);  });  "
        s1 = "$('#id_form-" + i + "-discount_amount').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount').value; var disc = document.getElementById('id_form-" + i + "-discount_amount').value;  var discamt = (disc/amount) * 100; document.getElementById('id_form-" + i + "-discount').value= discamt.toFixed(2); document.getElementById('id_form-" + i + "-total_val').value=(amount- disc).toFixed(2);});  "
        eval(company_detail_call);
        eval(s);
        eval(s1);
        eval(amt);
    }
</script>
{% endblock%}