{% extends 'common_table_inv.html' %}
{% block search %}
<form class="d-flex align-content-center" method='POST' action="{%url 'search' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="text" id="search" name="search" placeholder="Search posts" />
    <input type="submit" class="btn btn-outline-success" value="Search">
</form>
{% endblock%}
{% block table %}
<table class="table table-responsive">
    <tr>
        <th style="background-color:#a01b1b;color:#fff;">STOCK ID</th>
        <th style="background-color:#a01b1b;color:#fff;">LOCATION</th>
        <th style="background-color:#a01b1b;color:#fff;">SHAPE</th>
        <th style="background-color:#a01b1b;color:#fff;">CLARITY</th>
        <th style="background-color:#a01b1b;color:#fff;">COLOUR ORIGIN</th>
        <th style="background-color:#a01b1b;color:#fff;">COLOUR GRADE</th>
        <th style="background-color:#a01b1b;color:#fff;">CUT</th>
        <th style="background-color:#a01b1b;color:#fff;">POLISH</th>
        <th style="background-color:#a01b1b;color:#fff;">SYMMETRY</th>
        <th style="background-color:#a01b1b;color:#fff;">MEASUREMENTS</th>
        <th style="background-color:#a01b1b;color:#fff;">DEPTH %</th>
        <th style="background-color:#a01b1b;color:#fff;">TABLE %</th>
        <th style="background-color:#a01b1b;color:#fff;">FLUORESCENCE INTENSITY</th>
        <th style="background-color:#a01b1b;color:#fff;">FLUORESCENCE COLOUR</th>
        <th style="background-color:#a01b1b;color:#fff;">CERTIFICATE NUMBER</th>
        <th style="background-color:#a01b1b;color:#fff;">LAB</th>
        <th style="background-color:#a01b1b;color:#fff;">CERTIFICATE FILE</th>
        <th style="background-color:#a01b1b;color:#fff;">LASER INSCRIPTION</th>
        <th style="background-color:#a01b1b;color:#fff;">PIECES</th>
        <th style="background-color:#a01b1b;color:#fff;">WEIGHT</th>
        <th style="background-color:#a01b1b;color:#fff;">UNITS</th>
        <th style="background-color:#a01b1b;color:#fff;">TAG PRICE</th>
        <th style="background-color:#a01b1b;color:#fff;">CART</th>
        <th style="background-color:#a01b1b;color:#fff;">SHOW ON HOME</th>
        <th style="background-color:#a01b1b;color:#fff;">RETURN</th>
    </tr>

    {% csrf_token %}
    {% for obj in products_d %}
    {% if obj.appvreturnstatus_d is False %}
    <tr id="{{obj.id}}">
        <td style="text-align:center;" id="stock_id{{ forloop.counter }}">{{obj.stockid}}</td>
        <td>{{obj.location.place.upper}}</td>
        <td>{{obj.shape}}</td>
        <td>{{obj.clarity}}</td>
        <td>{{obj.color_origin1}}</td>
        <td>{% if obj.white_color_grade1%}{{obj.white_color_grade1}}{% endif%}{%if obj.fancycolor_grade%},
            {{obj.fancycolor_grade}}{% endif%}
        </td>
        <td>{{obj.cut}}</td>
        <td>{{obj.polish}}</td>
        <td>{{obj.symmetry}}</td>
        <td>{{obj.measurements}}</th>
        <td>{{obj.depth}}</td>
        <td>{{obj.table}}</td>
        <td>{{obj.fluorescence_intensity}}</td>
        <td>{{obj.fluorescence_color}}</td>
        <td>{{obj.certificate_no_d}}</td>
        <td>{{obj.certificate_d}}</td>
        {% if obj.media.certificate %}
        <td><a href="/media/{{obj.media.certificate}}">See Certificate</a>
            {% else %}
        <td>No Certificate</td>
        {% endif %}
        <td>{%if obj.laser_inscription%}YES{% else %}NO{% endif %}</td>
        <td>{{obj.PCS_d}}</td>
        <td>{{obj.weight_d}}</td>
        <td>{{obj.units.upper}}</td>
        <td>{{obj.tag_price_d}}</td>
        {% if obj.cartstatus is False %}
        <td style="padding: 10px 20px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'addtocart_d' id=obj.id %}">ADD TO CART</a></td>

        {% endif %}
        {% if obj.cartstatus is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'displaycart2_d' %}">Go To CART</a></td>
        {% endif %}
        {% if obj.frontend is False %}
        <td style="padding: 10px 50px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'show_on_frontend_d' id=obj.id %}">Show on Home Page</a></td>

        {% endif %}
        {% if obj.frontend is True %}
        <td style="padding: 10px 30px;"><a class="btn btn-primary" style="text-decoration: none;"
                href="{% url 'hide_from_frontend_d' id=obj.id%}">Remove From Home Page</a></td>
        {% endif %}

        {% if obj.appvreturnstatus_d is False and obj.purchaseapv_d is False %}
        <td style="padding-top: 17px;padding-left: 28px;">
            <input type="checkbox" name="jewell_id[]" value="{{obj.id}}" class="save-cb-state"
                id="inventory_of_diamonds" style="height: 20px;width: 20px;">
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
{% block container1 %}
<div id="button-allignment">
    <button class="btn btn-sm btnedit" type="submit" id="delete_btn"
        style="background-color:#a01b1b;color:#fff;border : 2px solid black;text-decoration:none">Return Selected
        Items</button>
    <a class="btn btn-sm btnedit" href="{% url 'retobj_d' %}"
        style="background-color:#a01b1b;color:#fff;border : 2px solid black;text-decoration:none">View returned
        objects</a>
    <a class="btn btn-sm btnedit" href="{% url 'displaycart2_d' %}"
        style="background-color:#a01b1b;color:#fff;border : 2px solid black;text-decoration:none">View Cart</a>
    <a class="btn btn-sm btnedit" href="{% url 'export_inventory_of_diamond' %}"
        style="background-color:#a01b1b;color:#fff;border : 2px solid black;text-decoration:none">Export Inventory</a>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    if (!$) {
        $ = django.jQuery;
    }
    $(document).ready(function () {
        $('#delete_btn').click(function () {
            if (confirm("Are you sure you want to return these items?")) {
                var id = [];
                var csrf = $('input[name=csrfmiddlewaretoken').val()
                $(':checkbox:checked').each(function (i) {

                    id[i] = $(this).val()
                    console.log("ajax called")
                    console.log(id[0])
                })
                if (id.length == 0) {
                    alert("No items Selected Please Select Again");

                }
                else {
                    $.ajax({
                        url: '.',
                        method: "POST",
                        data: {
                            id,
                            csrfmiddlewaretoken: csrf,
                        },

                        success: function (response) {
                            window.location.reload();
                            for (var i = 0; i < id.length; i++) {

                                $('tr#' + id[i] + '').css('background-color', '#ccc');
                                $('tr#' + id[i] + '').fadeOut('slow');

                            }

                        }

                    });
                }


            }




        });

    });



</script>
</body>

</html>

{% endblock %}