{% extends 'common_table_inv.html' %}
{% block table %}
<style>
    .bird-form td {
        overflow: scroll;
        max-width: 200px;
    }
</style>
<form id="form-container" method="POST">
    {% csrf_token %}
    <table id="all_forms" class="table table-responsive">
        <tr id="table-heading" height="30px">
            <th style="background-color:#e7d896;color:#000000bf;">PURCHASE DATE</th>
            <th style="background-color:#e7d896;color:#000000bf;">COMPANY NAME</th>
            <th style="background-color:#e7d896;color:#000000bf;">LOCATION</th>
            <th style="background-color:#e7d896;color:#000000bf;">JEWELLERY TYPE</th>
            <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE</th>
            <th style="background-color:#e7d896;color:#000000bf;">COLOUR OF CENTER STONE</th>
            <th style="background-color:#e7d896;color:#000000bf;">SHAPE</th>
            <th style="background-color:#e7d896;color:#000000bf;">METAL</th>
            <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE WEIGHT (g)</th>
            <th style="background-color:#e7d896;color:#000000bf;">CENTER STONE PIECES</th>
            <th style="background-color:#e7d896;color:#000000bf;">GROSS WEIGHT (g)</th>
            <th style="background-color:#e7d896;color:#000000bf;">CERTIFICATE TYPE</th>
            <th style="background-color:#e7d896;color:#000000bf;">PIECES</th>
            <th style="background-color:#e7d896;color:#000000bf;">AMOUNT</th>
            <th style="background-color:#e7d896;color:#000000bf;">DISCOUNT %</th>
            <th style="background-color:#e7d896;color:#000000bf;">DISCOUNT AMOUNT</th>
            <th style="background-color:#e7d896;color:#000000bf;">TOTAL AMOUNT</th>
            <th style="background-color:#e7d896;color:#000000bf;">BOUGHT</th>
            <th style="background-color:#e7d896;color:#000000bf;">CURRENCY</th>
            <th style="background-color:#e7d896;color:#000000bf;">TAG PRICE</th>
            <th style="background-color:#e7d896;color:#000000bf;">RATE</th>
            <th style="background-color:#e7d896;color:#000000bf;">COMMENTS</th>
        </tr>
        {{totalitems.management_form}}
        {% for obj in totalitems %}
        <tr class="bird-form">
            {% for field in obj%}
            <td>{{field}} <br> {{field.errors}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div id="button-allignment" style="top: 92.5vh;">
        <button type="submit" class="btn btn-sm btn-danger btnedit" id="btn-danger">Submit</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>


    var total = "{{total}}"
    console.log(total)
    var s, s1, company_detail_call, s2;
    for (var i = 0; i < total; i++) {
        document.querySelector("#id_form-" + i + "-company_name").insertAdjacentHTML("afterend", "<br><h6><strong>Phone No.: </strong></h6><span id='company_contact_number-" + i + "'></span><br><br><h6><strong>Address.: </strong></h6><span id='company_address-" + i + "'><span>")
        company_detail_call = "$('#id_form-" + i + "-company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}'," +
            "data: {'name': company_name,},success: function(data) { document.getElementById('company_contact_number-" + i + "').innerHTML = data['contact_no']; " +
            "document.getElementById('company_address-" + i + "').innerHTML = data['location'];} }) });"
        s = "$('#id_form-" + i + "-discount').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount').value; var disc = document.getElementById('id_form-" + i + "-discount').value; var discamt = (amount * disc) / 100; document.getElementById('id_form-" + i + "-discount_amount').value = discamt.toFixed(2); document.getElementById('id_form-" + i + "-total').value=(amount- discamt).toFixed(2);  });  "
        s1 = "$('#id_form-" + i + "-amount').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount').value; var disc = document.getElementById('id_form-" + i + "-discount').value; var discamt = (amount * disc) / 100; document.getElementById('id_form-" + i + "-discount_amount').value = discamt.toFixed(2); document.getElementById('id_form-" + i + "-total').value=(amount- discamt).toFixed(2);  });  "
        s2 = "$('#id_form-" + i + "-discount_amount').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount').value; var disc = document.getElementById('id_form-" + i + "-discount_amount').value;  var discamt = (disc/amount) * 100; document.getElementById('id_form-" + i + "-discount').value= discamt.toFixed(2); document.getElementById('id_form-" + i + "-total').value=(amount- disc).toFixed(2);});  "
        eval(company_detail_call);
        eval(s);
        eval(s1);
        eval(s2);
    }
</script>
{% endblock %}