{% extends 'common_table_inv.html' %}
{% block table %}
<style>
  .bird-form td {
    overflow: scroll;
    max-width: 200px;
  }
</style>
<form id="form-container" method="POST">
  {% csrf_token %}
  <table id="all_forms" class="table table-responsive">
    <tr id="table-heading" height="30px">
      <th style="background-color:#a01b1b;color:#fff;">PURCHASE DATE</th>
      <th style="background-color:#a01b1b;color:#fff;">COMPANY NAME</th>
      <th style="background-color:#a01b1b;color:#fff;">LOCATION</th>
      <th style="background-color:#a01b1b;color:#fff;">SHAPE</th>
      <th style="background-color:#a01b1b;color:#fff;">CLARITY</th>
      <th style="background-color:#a01b1b;color:#fff;">COLOUR ORIGIN</th>
      <th style="background-color:#a01b1b;color:#fff;">WHITE COLOUR GRADE</th>
      <th style="background-color:#a01b1b;color:#fff;">FANCY COLOUR GRADE</th>
      <th style="background-color:#a01b1b;color:#fff;">CUT</th>
      <th style="background-color:#a01b1b;color:#fff;">POLISH</th>
      <th style="background-color:#a01b1b;color:#fff;">SYMMETRY</th>
      <th style="background-color:#a01b1b;color:#fff;">MEASUREMENTS</th>
      <th style="background-color:#a01b1b;color:#fff;">DEPTH %</th>
      <th style="background-color:#a01b1b;color:#fff;">TABLE %</th>
      <th style="background-color:#a01b1b;color:#fff;">FLUORESCENCE INTENSITY</th>
      <th style="background-color:#a01b1b;color:#fff;">FLUORESCENCE COLOR</th>
      <th style="background-color:#a01b1b;color:#fff;">CERTIFICATE NUMBER</th>
      <th style="background-color:#a01b1b;color:#fff;">CERTIFICATE TYPE</th>
      <th style="background-color:#a01b1b;color:#fff;">LASER INSCRIPTION</th>
      <th style="background-color:#a01b1b;color:#fff;">PIECES</th>
      <th style="background-color:#a01b1b;color:#fff;">WEIGHT (g)</th>
      <th style="background-color:#a01b1b;color:#fff;">PRICE</th>
      <th style="background-color:#a01b1b;color:#fff;">UNITS</th>
      <th style="background-color:#a01b1b;color:#fff;">AMOUNT</th>
      <th style="background-color:#a01b1b;color:#fff;">DISCOUNT %</th>
      <th style="background-color:#a01b1b;color:#fff;">DISCOUNT AMOUNT</th>
      <th style="background-color:#a01b1b;color:#fff;">TOTAL AMOUNT</th>
      <th style="background-color:#a01b1b;color:#fff;">BOUGHT</th>
      <th style="background-color:#a01b1b;color:#fff;">CURRENCY</th>
      <th style="background-color:#a01b1b;color:#fff;">TAG PRICE</th>
      <th style="background-color:#a01b1b;color:#fff;">RATE</th>
      <th style="background-color:#a01b1b;color:#fff;">COMMENT</th>
    </tr>
    {{totalitems_d.management_form}}
    {% for obj in totalitems_d %}
    <tr class="bird-form">
      {% comment %} {% for field in obj%}
      {% if field.purchase_approval %}
      <td style="display: flex;width: 100%;
            justify-content: center;
            border: none;"></td>{{field}}<br> {{field.errors}}</td>
      {% elif %}
      <td>{{field}} <br> {{field.errors}}</td>
      {% endif %}
      {% endfor %} {% endcomment %}
      {% for field in obj%}
      <td>{{field}} <br> {{field.errors}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <div id="button-allignment" style="top: 92.5vh;">

    <button type="submit" class="btn btn-sm btn-danger btnedit" id="btn-danger">Submit</button>
  </div>
</form>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  var total = "{{total}}"
  var s2;
  var s, s1, company_detail_call;
  for (var i = 0; i < total; i++) {
    document.querySelector("#id_form-" + i + "-company_name").insertAdjacentHTML("afterend", "<br><h6><strong>Phone No.: </strong></h6><span id='company_contact_number-" + i + "'></span><br><br><h6><strong>Address.: </strong></h6><span id='company_address-" + i + "'><span>")
    company_detail_call = "$('#id_form-" + i + "-company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}'," +
      "data: {'name': company_name,},success: function(data) { document.getElementById('company_contact_number-" + i + "').innerHTML = data['contact_no']; " +
      "document.getElementById('company_address-" + i + "').innerHTML = data['location'];} }) });"
    amt = "$('#id_form-" + i + "-price, #id_form-" + i + "-weight_d').on('change keyup blur', function () { var weight = document.getElementById('id_form-" + i + "-weight_d').value; var price = document.getElementById('id_form-" + i + "-price').value; var amount_value = (price * weight); document.getElementById('id_form-" + i + "-amount_d').value = amount_value.toFixed(2);  });  "
    s = "$('#id_form-" + i + "-DIS_d').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount_d').value; var disc = document.getElementById('id_form-" + i + "-DIS_d').value; var discamt = (amount * disc) / 100; document.getElementById('id_form-" + i + "-DIS_Amount_d').value = discamt.toFixed(2); document.getElementById('id_form-" + i + "-total_val_d').value=(amount- discamt).toFixed(2);  });  "
    s1 = "$('#id_form-" + i + "-amount_d').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount_d').value; var disc = document.getElementById('id_form-" + i + "-DIS_d').value; var discamt = (amount * disc) / 100; document.getElementById('id_form-" + i + "-DIS_Amount_d').value = discamt.toFixed(2); document.getElementById('id_form-" + i + "-total_val_d').value=(amount- discamt).toFixed(2);  });  "
    s2 = "$('#id_form-" + i + "-DIS_Amount_d').on('change keyup blur', function () { var amount = document.getElementById('id_form-" + i + "-amount_d').value; var disc = document.getElementById('id_form-" + i + "-DIS_Amount_d').value;  var discamt = (disc/amount) * 100; document.getElementById('id_form-" + i + "-DIS_d').value= discamt.toFixed(2); document.getElementById('id_form-" + i + "-total_val_d').value=(amount- disc).toFixed(2);});  "
    eval(company_detail_call);
    eval(s);
    eval(amt);
    eval(s1);
    eval(s2);
  }
</script>
</body>

</html>
{% endblock %}