<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <center>
            Jewellery Details
        </center>
    </h1>
    <br>
    <br>
    <br>

    <div class="container">
        <table border="1">
            <thead>
                <th>Stock ID</th>
                <th>Location</th>
                <th>Certification</th>
                <th>Cart Status</th>
                <th>Return Item
                </th>
                <th>Show user</th>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for p in productsj %}
                {% if p.appvreturnstatus is False %}
                <tr id="{{p.id}}">
                    <td style="text-align:center;" id="stock_id{{ forloop.counter }}">{{p.stockid}}</td>
                    <td>{{p.location}}</td>
                    <td>{{p.cert}}</td>
                    <td><a href="#" id="stock_id{{ forloop.counter }}_cert">See Certificate</a></td>
                    {% if p.cartstatus is False %}
                    <td><a class="btn btn-primary" href="{% url 'addtocart' id=p.id %}">ADD TO CART</a></td>
                    {% endif %}
                    {% if p.cartstatus is True %}
                    <td><a class="btn btn-primary">Go To CART</a></td>
                    {% endif %}
                    <td>
                        {% if p.appvreturnstatus is False and p.purchaseapv is False %}
                        <input type="checkbox" name="jewell_id[]" value="{{p.id}}" class="save-cb-state"
                            id="delete_jewell"></td>
                            {% endif %}
                        <td>{%if p.frontend%}
                        <a href="{% url 'hide_from_frontend_jewel' id=p.id%}">Remove from home page</a>
                        {%else%}
                        <a href="{% url 'show_on_frontend_jewel' id=p.id %}">Show on home page</a>
                        {%endif%}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit" id="delete_btn">Add to return table</button>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'retobj_j' %}">View returned objects</a>
        <a class="btn-btn-primary" href="{% url 'displaycart2' %}">View Cart</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        if (!$) {
            $ = django.jQuery;
        }
        $(document).ready(function () {
            $('#delete_btn').click(function () {
                if (confirm("You want to delete this")) {
                    var id = [];
                    var csrf = $('input[name=csrfmiddlewaretoken').val()
                    $(':checkbox:checked').each(function (i) {

                        id[i] = $(this).val()
                    })
                    if (id.length == 0) {
                        alert("No items Selected Please Select Again");

                    }
                    else {
                        $.ajax({
                            url: '.',
                            method: "POST",
                            data: {
                                id,
                                csrfmiddlewaretoken: csrf,
                            },

                            success: function (response) {
                                window.location.reload();
                                for (var i = 0; i < id.length; i++) {

                                    $('tr#' + id[i] + '').css('background-color', '#ccc');
                                    $('tr#' + id[i] + '').fadeOut('slow');

                                }

                            }

                        });
                    }


                }




            });

        });
        var length_jewel = "{{length_jewel}}";
        console.log(length_jewel);
        console.log(length_jewel);
        for(var i=1;i<=length_jewel;i++){
            var query=document.getElementById("stock_id"+i);
            if(query){
                // console.log(query);
                var stockid=document.getElementById("stock_id"+i).innerHTML;
                // console.log(stockid);
                $.ajax({type: 'GET',async:false,url: '{% url "get_certificate_of_jewellery" %}',
                data: {'stockid': stockid},success: function(data) {
                    
                    var query2=document.getElementById("stock_id"+i+"_cert");
                    if(data!="" && query2){
                        // console.log(data,i);
                        if(data.certificate!="0"){
                            document.getElementById("stock_id"+i+"_cert").href="/media/"+data.certificate;
                            console.log(data.certificate);
                        }
                        else{
                            document.getElementById("stock_id"+i+"_cert").innerHTML="Not Available";
                            console.log(data.certificate);
                        }
                    }
                }});
            }
        }
    </script>
</body>

</html>