{% extends 'common_update.html' %}
{% block style %}
<style>

</style>
{% endblock  %}
{% block update_form %}
{{form5.as_p}}
<!-- <form action="" class="Purchasecolourstone">
   {% csrf_token %}
  <ul id="Purchasecolourstone">
     <label for="stock_id" id="label_stock_id">DATE</label>
      <li id="stock_id">{{form5.date}}</li>
    <label for="company_name" id="label_company_name">Company Name</label>
      <li id="company_name">{{form5.company_name}}</li>
  <label for="location" id="label_location">Location</label>
      <li id="location">{{form5.location}}</li>
  <label for="shape" id="label_shape">Shape</label>
      <li id="shape"><input id="id_shape" type="text" name="shape">
      </li>
  
  <label for="gem_type" id="label_gem_type">Gem Type</label>
      <li id="gem_type"><input id="id_gem_type" type="text" name="gem_type">
      </li>
  
  <label for="origin" id="label_origin">Origin</label>
      <li id="origin"><input id="id_origin" type="text" name="origin">
      </li>
  <label for="treatment" id="label_treatment">Treatment</label>
      <li id="treatment"><input id="id_treatment" type="text" name="treatment">
      </li>
  <label for="clarity" id="label_clarity">Clarity</label>
      <li id="clarity"><input id="id_clarity" type="text" name="clarity">
      </li>
  <label for="certificate_no" id="label_certificate_no">Certificate Number</label>
      <li id="certificate_no"><input id="id_certificate_no" type="text" name="certificate_no">
      </li>
  <label for="colour" id="label_colour">Colour</label>
      <li id="colour"><input id="id_colour" type="text" name="colour">
      </li>
  <label for="measurements" id="label_measurements">Measurements</label>
      <li id="measurements"><input id="id_measurements" type="text" name="measurements">
      </li>
  <label for="lab" id="label_lab">Lab</label>
      <li id="lab"><input id="id_lab" type="text" name="lab"></li>
  <label for="pieces" id="label_pieces">Pieces</label>
      <li id="pieces"><input id="id_pieces" type="text" name="pieces">
      </li>
  <label for="weight" id="label_weight">Weight</label>
      <li id="weight"><input id="id_weight" type="text" name="weight">
      </li>
  <label for="price" id="label_price">Price</label>
      <li id="price"><input id="id_price" type="text" name="price">
      </li>
  <label for="units" id="label_units">Units</label>
      <li id="units"><input id="id_units" type="text" name="units">
      </li>
  <label for="amount" id="label_amount">Amount</label>
      <li id="amount"><input id="id_amount" type="text" name="amount">
      </li>
  <label for="discount" id="label_discount">Discount</label>
      <li id="discount"><input id="id_discount" type="text" name="discount">
      </li>
  <label for="disamount" id="label_disamount">Discounted Amount</label>
      <li id="disamount"><input id="id_disamount" type="text" name="disamount">
      </li>
  
  <label for="currency" id="label_currency">Currency</label>
      <li id="currency"><input id="id_currency" type="text" name="currency">
      </li>
  <label for="tag_price" id="label_tag_price">Tag Price</label>
      <li id="tag_price"><input id="id_tag_price" type="text" name="tag_price">
      </li>
  <label for="rate" id="label_rate">Rate</label>
      <li id="rate"><input id="id_rate" type="text" name="rate">
      </li>
  <div class="submit_button">
          <button type="submit" id="submit">Submit</button>
  </div>
  </ul>
</form> -->
{% endblock  %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  if (!$) {
    $ = django.jQuery;
  }
  $( "#id_Price, #id_Weight").on("change keyup blur", function () {
    var weight = $('#id_Weight').val();
    var price = $('#id_Price').val();
    var z = (parseFloat(weight)) * (parseFloat(price))
    if (weight != '' && price != '') {
      $('#id_amount').val(z.toFixed(2));
    } else {
      $('#id_amount').val('')

    }
  })
  $(document).on("change keyup blur", "#id_discount", function () {
    var amount = $('#id_amount').val();
    var discount = $('#id_discount').val();
    var z = (parseFloat(amount)) * (parseFloat(discount)) / 100
    var total = amount - z

    if (amount != '' && discount != '') {
      $('#id_total_val').val(total.toFixed(2));
      $('#id_discount_amount').val(z.toFixed(2))
    } else {
      $('#id_total_val').val('')
      $('#id_discount_amount').val('')

    }
  });

  var company_detail_call = "$('#id_company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}',data: {'name': company_name,},success: function(data) {var phone_no = document.getElementById('id_phone_number');phone_no.value = data.contact_no;var location = document.getElementById('id_location');var loc_index = ':selected';for(var i=0; i<location.length; i++){if(location[i].text == data.location){loc_index = i;break; } } location.value = loc_index; } }) });"
  eval(company_detail_call)
</script>
{% endblock  %}