{% extends 'common_update.html' %}
{% block different %}{% endblock %}
{% block update_form %}
<p style="margin-top: 18px;"><label for="id_date">Date:</label>{{form5.date}}</p>
<p><label for="id_company_name">Company name:</label>{{form5.company_name}}</p>
<p><label for="id_location">Location:</label>{{form5.location}}</p>
<p><label for="id_shape">Shape:</label>{{form5.shape}}</p>
<p><label for="id_gem_type">Gem type:</label>{{form5.gem_type}}</p>
<p><label for="id_origin">Origin:</label>{{form5.origin}}</p>
<p><label for="id_Treatment">Treatment:</label>{{form5.Treatment}}</p>
<p><label for="id_Clarity">Clarity:</label>{{form5.Clarity}}</p>
<p><label for="id_certificate_no">Certificate Number:</label>{{form5.certificate_no}}</p>
<p><label for="id_colour">Colour:</label>{{form5.colour}}</p>
<p><label for="id_measurements">Measurements:</label>{{form5.measurements}}</p>
<p><label for="id_lab">Lab:</label>{{form5.lab}}</p>
<p><label for="id_PCS">PCS:</label>{{form5.PCS}}</p>
<p><label for="id_Weight">Weight:</label>{{form5.Weight}}</p>
<p><label for="id_Price">Price:</label>{{form5.Price}}</p>
<p><label for="id_units">Units:</label>{{form5.units}}</p>
<p><label for="id_amount">Amount:</label>{{form5.amount}}</p>
<p><label for="id_discount">Discount:</label>{{form5.discount}}</p>
<p><label for="id_discount_amount">Discount amount:</label>{{form5.discount_amount}}</p>
<p><label for="id_total_val">Total val:</label>{{form5.total_val}}</p>
<p><label for="id_purchaseapv">Bought Color Stone:</label>{{form5.purchaseapv}}</p>
<p><label for="id_currency">Currency:</label>{{form5.currency}}</p>
<p><label for="id_tag_price">Tag price:</label>{{form5.tag_price}}</p>
<p><label for="id_rate">Rate:</label>{{form5.rate}}</p>
<p><label for="id_comment">Comment:</label>{{form5.comment}}</p>
{% endblock  %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  if (!$) {
    $ = django.jQuery;
  }
  $( "#id_Price, #id_Weight").on("change keyup blur", function () {
    var weight = $('#id_Weight').val();
    var price = $('#id_Price').val();
    var z = (parseFloat(weight)) * (parseFloat(price))
    if (weight != '' && price != '') {
      $('#id_amount').val(z.toFixed(2));
    } else {
      $('#id_amount').val('')

    }
  })
  $(document).on("change keyup blur", "#id_discount", function () {
    var amount = $('#id_amount').val();
    var discount = $('#id_discount').val();
    var z = (parseFloat(amount)) * (parseFloat(discount)) / 100
    var total = amount - z

    if (amount != '' && discount != '') {
      $('#id_total_val').val(total.toFixed(2));
      $('#id_discount_amount').val(z.toFixed(2))
    } else {
      $('#id_total_val').val('')
      $('#id_discount_amount').val('')

    }
  });

  var company_detail_call = "$('#id_company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}',data: {'name': company_name,},success: function(data) {var phone_no = document.getElementById('id_phone_number');phone_no.value = data.contact_no;var location = document.getElementById('id_location');var loc_index = ':selected';for(var i=0; i<location.length; i++){if(location[i].text == data.location){loc_index = i;break; } } location.value = loc_index; } }) });"
  eval(company_detail_call)
</script>
{% endblock  %}