<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <form method="POST">
    {% csrf_token %} {{form5}}
    <button type="submit">Submit</button>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  if (!$) {
    $ = django.jQuery;
  }
  $( "#id_Price, #id_Weight").on("change keyup blur", function () {
    var weight = $('#id_Weight').val();
    var price = $('#id_Price').val();
    var z = (parseFloat(weight)) * (parseFloat(price))
    if (weight != '' && price != '') {
      $('#id_amount').val(z.toFixed(2));
    } else {
      $('#id_amount').val('')

    }
  })
  $(document).on("change keyup blur", "#id_discount", function () {
    var amount = $('#id_amount').val();
    var discount = $('#id_discount').val();
    var z = (parseFloat(amount)) * (parseFloat(discount)) / 100
    var total = amount - z

    if (amount != '' && discount != '') {
      $('#id_total_val').val(total.toFixed(2));
      $('#id_discount_amount').val(z.toFixed(2))
    } else {
      $('#id_total_val').val('')
      $('#id_discount_amount').val('')

    }
  });

  var company_detail_call = "$('#id_company_name').change(function(){var company_name = $(this).find(':selected')[0].text;$.ajax({type: 'GET',url: '{% url 'get_company_details' %}',data: {'name': company_name,},success: function(data) {var phone_no = document.getElementById('id_phone_number');phone_no.value = data.contact_no;var location = document.getElementById('id_location');var loc_index = ':selected';for(var i=0; i<location.length; i++){if(location[i].text == data.location){loc_index = i;break; } } location.value = loc_index; } }) });"
  eval(company_detail_call)
</script>

</html>